In [1]:
import os
import multiprocessing as mp # use multiprocessing module for parallel computing
import pandas as pd # load pandas: python data analysis library
import welt_load
import numpy as np
import collections
import split_articles_welt
import itertools
import unicode_correct_welt # import the function correcting the unicode errors present in the database
import clean_welt_articles
import clean_tables_welt
from datetime import datetime

# We import some functions from the Handelsblatt folder
import sys
sys.path.insert(1, os.getcwd().replace('Welt', 'Handelsblatt'))
import count_words_mp # import the function calculating the number of words in a text
import split_number_word

# We import some functions from the SZ folder
sys.path.insert(1, os.getcwd().replace('Welt', 'SZ'))
import umlauts_correct_sz
import correct_url_sz
import count_names

# We import some functions from the 'dpa' folder
sys.path.insert(1, os.getcwd().replace('Welt', 'dpa'))
import fuzzy_duplicates_test_all_dpa
import fuzzy_duplicates_dpa # import a function that outputs the indices of fuzzy duplicates
import numeric_articles

In [2]:
NUM_CORE = mp.cpu_count()-8 # set the number of cores to use

print("The number of cores that will be used: {}".format(NUM_CORE))

The number of cores that will be used: 56

# Welt data

Welt is a distinguished national daily German newspaper that has substantial sections on both Economy and Politics. According to the IVW (Informationsgemeinschaft zur Feststellung der Verbreitung von Werbetr√§gern), in the first quarter of 2021, the newspaper had a circulation of 72,215 daily copies.

We downloaded the data from **LexisNexis** in July 2018, and since the project was in its early stages, we only downloaded news from the Economy and Finance sections. Our dataset includes **197,565** articles published from Monday to Saturday, between April 1999 and January 2018.

The Welt dataset is organized into a main folder named 'Welt', which contains 20 subfolders corresponding to each year from 1999 to 2018. Within each yearly subfolder, there are additional subfolders for each month, such as 'Apr 1999'. These monthly subfolders house multiple files (e.g., 'Die_Welt_1999_Apr_1.txt') that contain several articles from the respective month and year. This hierarchical organization of the Welt dataset ensures that the information is systematically stored, making it convenient for researchers to locate and extract specific articles for analysis. Unfortunately, due to copyright restrictions, we are unable to publish the data.

## Load the data

First, we need to read in the data. We create the list including the names of the 1102 files (`files_list`) and apply the function `welt_load` to them in parallel by exploiting Python's `multiprocessing` library.

We extract the following information from the txt files:

* publication date
* section/subsection of the newspaper (RUBRIK)
* the name of the newspaper
* article's title and annotation
* text of the article
* a dummy variable for the 'kompakt' section with multiple articles

In [3]:
# 'Welt' is the main folder with 20 subfolders corresponding to each year ('1999', '2000'...) in it
path = os.getcwd().replace('\\newspaper_data_processing\\Welt', '') + '\\Welt'

# Create the list of all files withing the 20 subfolders.
files_list=[]

# os.listdir(path) - names of directories: '1999', '2000'...
# we proceed folder by folder ('1999', '2000'...)
for f in [f for f in os.listdir(path) ]: 
    # again folder by folder ('Apr 1999', 'Aug 1999', ...)
    for s in [s for s in os.listdir(path + '\\' + f) ]:
        # for each file in a particular folder (e.g., Die_Welt_1999_Apr_1.txt)
        for k in [k for k in os.listdir(path +  '\\' + f + '\\' + s) ]:
            files_list.append(path + '\\' + f + '\\' + s + '\\' + k)

In [4]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    data_intermediate = pool.map(welt_load.welt_load, files_list) # load data from each file in parallel
    data = pd.concat(data_intermediate) # concatenate DataFrames from different files
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:12.049826

In [5]:
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data = data.reset_index() # reset the index of the DataFrame
del data['index'] # delete a column with an old index

In [6]:
data[10:15]

,year,month,day,newspaper,texts,rubrics,title,kompakt
10,1999,3,3,Welt,"[\r\n, \r\n, BANKEN\r\n, \r\n, Protestkundgebu...",Wirtschaft Kompakt,,1
11,1999,3,3,Welt,"[\r\n, \r\n, EC-KARTEN\r\n, \r\n, Neue Rufnumm...",Finanzen Kompakt,,1
12,1999,3,4,Welt,"[\r\n, \r\n, SUBVENTIONEN\r\n, \r\n, Van Miert...",Wirtschaft Kompakt,,1
13,1999,3,4,Welt,"[\r\n, \r\n, SCHIFFAHRT\r\n, \r\n, Flaute auf ...",Wirtschaft Kompakt,,1
14,1999,3,4,Welt,"[\r\n, \r\n, KRAFTWERK\r\n, \r\n, Lauchhammer ...",Wirtschaft Kompakt,,1

In [7]:
# the number of articles before pre-processing
len(data)

197565

## Split up articles

In newspaper sections where the term 'kompakt' appears, such as 'Wirtschaft kompakt', it is common to find multiple articles aggregated into a single entry. Since these individual articles may have different sentiment and address distinct topics, it is crucial to separate and process them as distinct entities.

In [8]:
mult_art = data[data.kompakt == 1]
mult_art.reset_index(inplace=True, drop=True)

In [9]:
# delete 'mult_art' from the original data
data.drop(data[data.kompakt == 1].index, inplace=True)
data.reset_index(inplace=True, drop=True)

In [10]:
# calculate chunck size 
chunk_size = int(mult_art.shape[0]/NUM_CORE)

# split data into chunks 
chunks = [mult_art.iloc[mult_art.index[i:i + chunk_size]] for 
          i in range(0, mult_art.shape[0], chunk_size)]

In [11]:
# split up articles into smaller articles and append the resulting new articles 
# to the corpus
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    results = pool.map(split_articles_welt.split_articles_welt, chunks) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

results = pd.concat(results)
print(len(results))
results.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

0:00:09.248259
54410

In [12]:
# append separated articles to corpus
data = data.append(results)
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame
# the number of articles after splitting up collections of articles
print(len(data))

C:\Users\mokuneva\AppData\Local\Temp\2\ipykernel_39932\386242840.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(results)

232569

## Light pre-processing

### Remove short articles (<100 words)

The `count_words_mp` function is used to count the number of words in a text. This function only counts words and excludes numbers from the analysis. It takes into consideration Latin letters with any diacritics, such as umlauts. The function removes specific punctuation marks and non-alphabetic characters before counting the words, ensuring that the final count is accurate and relevant for sentiment analysis and topic modeling.

In [13]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:04.700732

In [14]:
# Save the result as a new column "word_count"
data['word_count'] = count_results

Shorter texts often lack sufficient semantic information, making it challenging for topic models and bag-of-words-based sentiment analysis tools to perform effectively. As a result, we focus on texts with more than 100 words to ensure better performance.

In [15]:
# remove articles with the number of words<100
data = data[data['word_count']>=100]
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [16]:
# the number of articles after removing short articles
len(data)

176487

### Remove exact duplicates

Removing duplicates is crucial because they do not contribute any new information and only introduce noise into the analysis.

In [17]:
# All the duplicated articles are saved as 'welt_duplicates' for further exploration.
welt_duplicates = data[data['texts'].duplicated(keep = False)]

In the given corpus, we observe the following instances of duplicated articles:

1. The same article appears twice, published in different sections: e.g. in 'Finanzen kompakt' (a collection of multiple articles) and 'Finanzen'.

In [18]:
welt_duplicates.loc[[377, 378]]

,year,month,day,newspaper,texts,rubrics,title,kompakt,word_count
377,2000,11,28,Welt,GELDANLAGE. Aktienverkauf mit Verlust kann ste...,Finanzen kompakt,,1,111
378,2000,11,28,Welt,GELDANLAGE. Aktienverkauf mit Verlust kann ste...,Finanzen,,1,111

2. The same article (here, an overview of a series) is included in the corpus with different publication dates (here, 8.04.2014 and 9.04.2014). In such cases, a logical approach is to retain the first entry.

In [19]:
welt_duplicates.loc[[152567, 152587]]

,year,month,day,newspaper,texts,rubrics,title,kompakt,word_count
152567,2014,4,8,Welt,Serie im √úberblick. Teil 1: Lohn und Arbeitgeb...,FINANZEN,Serie im √úberblick.,0,112
152587,2014,4,9,Welt,Serie im √úberblick. Teil 1: Lohn und Arbeitgeb...,FINANZEN,Serie im √úberblick.,0,112

In [20]:
# drop the exact duplicates, keep the article with the earlier publication date ('first')
data.drop_duplicates(['texts'], keep = 'first', inplace=True)
data.reset_index(inplace=True, drop=True)

In [21]:
# the number of articles after removing exact duplicates
len(data)

175482

## Filtering

### Section

Articles from the economic and financial sections of Welt are categorized into 50 distinct subsections. To maintain consistency in topical content over time, we exclude articles from certain subsections that were only covered during a limited time period.

In [22]:
# Subsections and the number of articles per subsection
counter=collections.Counter(data['rubrics'])
print(counter.most_common(1000))

[('WIRTSCHAFT', 66549), ('Wirtschaft', 53340), ('FINANZEN', 27164), ('Finanzen', 20572), ('Hamburg Wirtschaft', 6132), ('Berlin Wirtschaft', 971), ('Wirtschaft Kompakt', 269), ('Wirtschaft kompakt', 105), ('Finanzen kompakt', 98), ('Berliner Web Wirtschaft', 25), ('Extra', 24), ('FINANZEN Ausg. 241', 24), ('HH-WIRTSCHAFT', 20), ('FINANZEN Ausg. 228', 19), ('Extra Messe-Wirtschaft', 18), ('FINANZEN Ausg. 105', 16), ('Finanzen Kompakt', 15), ('KLIMA & FINANZEN Ausg. 19', 15), ('FINANZEN Ausg. 115', 11), ('Berliner Wirtschaft', 10), ('Wissenschaft', 8), ('FINANZEN Ausg. 90', 8), ('Berlin Werbe Wirtschaft', 6), ('BERLIN WIRTSCHAFT', 6), ('finanzen kompakt', 6), ('WIRTSCHAFT GESAMT', 6), ('Hamburg', 5), ('WebWelt', 4), ('wirtschaft-bestseller', 3), ('Sonderseite Messe-Wirtschaft', 3), ('FINANZEN Ausg. 76', 3), ('WebWirtschaft', 2), ('Investment-Tipps', 2), ('Berlin', 2), ('Wirtschaft - Termine', 2), ('HAMBURG', 2), ('WISSENSCHAFT', 2), ('TITEL', 2), ('Sonderseite Messe Wirtschaft', 2), ('Wirtschafts B√ºcher', 1), ('H√§rtetest f√ºr den Stabilit√§tspakt', 1), ('Boot', 1), ('Wirtschaft-Termine', 1), ('Wirtschaft-Bestseller', 1), ('Finanzen-Ticker', 1), ('Messe-Wirtschaft', 1), ('Zinsen ? Devisen ? Derivate ? Waren', 1), ('ZINSEN ? DEVISEN ? DERIVATE ? WAREN', 1), ('BERLIN', 1), ('FINANZEN Ausg. 227', 1)]

The `keep_sections` variable represents a list of subsections that are retained for subsequent analysis.

In [23]:
keep_sections = ['WIRTSCHAFT', 'Wirtschaft', 'FINANZEN', 'Finanzen', 'Wirtschaft kompakt', 'Wirtschaft Kompakt', 
                 'Finanzen kompakt', 'Finanzen Kompakt', 'wirtschaft kompakt', 'finanzen kompakt']

In [24]:
# Keep only relevant sections
data = data[data['rubrics'].isin(keep_sections)]
data.reset_index(inplace=True, drop=True)

In [25]:
# the number of articles after removing articles from subsections with limited time coverage
len(data)

168118

### Title

Exclude articles with the following title patterns:

* 'Verlierer.': stock prices only.
* 'Gewinner.': stock prices only.
* 'Auf dem Sprung an die B√∂rse.': quantitative info on companies planning to go public.
* 'Aktuelle Neuemissionen.': quantitative info on new issues.
* 'Zinsen in Prozent.': quantitative info on interest rates. 
* 'Die Schlagzeile vom 1962.' ('Die Schlagzeile vom 1963.'): headlines from 1962/1963, historical news.
* 'Leserfrage der Woche.' ('Leserfrage.'): reader's questions unrelated to the economy, typically legal questions.
* 'Messe-Termine.': trade show dates.
* 'service splitter.' ('ServiceSplitter.', 'Service-Splitter.', 'Service Splitter.') : unrelated to the economy.
* 'Die Steuer-Serie auf einen Blick.': tax series, not economy-related.
* 'WebWegWeiser.': web news.
* 'Die Titel mit den gr√∂√üten Kursausschl√§gen. Stand: Schluss.': stock prices.
* 'Wirtschaft. Vernetzt im Wohnzimmer.' ('Vernetzt im Wohnzimmer.'): advertisement of digital products.
* 'Telefonaktion.': advertisement for phone-based Q&A on specific topics.
* 'TICKER.' ('Ticker.'): stock prices.
* 'Heiz√∂l-Preise aktuell.': current heating oil prices.
* 'Die Titel mit den gr√∂√üten Kursausschl√§gen. Schluss.': stock prices.
* 'Telefontarife.': phone rates (numbers).
* 'heute im sportteil.': today in sports section (irrelevant).
* 'WELT-Rangliste der deutschen Wirtschaft - Auf einen Blick: Umsatz und. Besch√§ftigung; Die 500 gr√∂√üten Unternehmen des Landes auf einen Blick: Umsatz, Branchen und Besch√§ftigte.': sales and employment data for the largest companies (numbers).
* 'Serie im √úberblick.' ('Die Serie im √úberblick.'): short introduction to the series.
* 'So k√∂nnen Sie Ihr Portfolio optimieren.': the asset check organized by Welt.
* 'Richtig vorsorgen. So finden Sie den perfekten Riester-Vertrag.': finding the perfect pension plan.
* 'Die Titel mit den gr√∂√üten Kursausschl√§gen. Stand: 16.00 Uhr.': stock prices.
* 'wirtschaft-bestseller.' ('Wirtschaft-Bestseller.'): book prices.
* 'Themen (Fotos).': introduction to the topics discussed in the issue.
* 'Emittenten-Kontakte.': contact information for warrant issuers.
* 'TERMINE': a list of upcoming events.
* 'Kursteil erh√§lt ein neues Gesicht': an announcement about an update to the stock market section.
* 'Wirtschaft und Politik.': schedule of important events.
* '^Termine vom': schedule of important events.
* 'Wirtschaftstermine.': schedule of important events.

In [26]:
title_clean = ['Verlierer.', 'Gewinner.', 'Auf dem Sprung an die B√∂rse.', 'Aktuelle Neuemissionen.',
              'Zinsen in Prozent.', 'Die Schlagzeile vom 1962.', 'Leserfrage der Woche.',
              'Messe-Termine.', 'service splitter.', 'ServiceSplitter.', 'Service-Splitter.', 'Service Splitter.',
              'Die Steuer-Serie auf einen Blick.', 'WebWegWeiser.',
              'Die Titel mit den gr√∂√üten Kursausschl√§gen. Stand: Schluss.',
              'Wirtschaft. Vernetzt im Wohnzimmer.', 'Telefonaktion.', 'TICKER.',
              'Vernetzt im Wohnzimmer.', 'Die Schlagzeile vom 1963.', 'Heiz√∂l-Preise aktuell.',
              'Die Titel mit den gr√∂√üten Kursausschl√§gen. Schluss.', 'Telefontarife.',
              'heute im sportteil.', 
              'WELT-Rangliste der deutschen Wirtschaft - Auf einen Blick: Umsatz und. Besch√§ftigung; Die 500 gr√∂√üten Unternehmen des Landes auf einen Blick: Umsatz, Branchen und Besch√§ftigte.',
              'Serie im √úberblick.', 'So k√∂nnen Sie Ihr Portfolio optimieren.',
              'Richtig vorsorgen. So finden Sie den perfekten Riester-Vertrag.',
              'Die Serie im √úberblick.', 'Leserfrage.', 'Ticker.',
              'Die Titel mit den gr√∂√üten Kursausschl√§gen. Stand: 16.00 Uhr.'
              'wirtschaft-bestseller.', 'Wirtschaft-Bestseller.', 'Themen (Fotos).',
              'Emittenten-Kontakte.',
              'Wirtschaft und Politik.',
              'Wirtschaftstermine.']

In [27]:
data = data[~data['title'].isin(title_clean)]
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [28]:
title_patterns = ['TERMINE', 'Kursteil erh√§lt ein neues Gesicht', '^Termine vom']

In [29]:
data = data[~data['title'].str.contains('|'.join(title_patterns))]
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [30]:
# the number of articles after excluding articles based on the title patterns
len(data)

167735

## Umlauts

In the given dataset, some texts contain incorrect umlaut encodings, such as '&auml;', '&uuml;', '&ouml;', '&Auml;', '&Uuml;', and '&Ouml;'. These encodings are typically used in HTML documents to represent umlaut characters like '√§', '√º', '√∂', '√Ñ', '√ú', and '√ñ'. However, in this case, the encodings are not being interpreted correctly, leading to broken umlauts in the text.

To fix this issue, we use the function `umlauts_correct_sz` that replaces these incorrect umlaut encodings with the correct umlaut characters.

In [31]:
# Define a list of incorrect umlaut encodings
incorrect_umlauts = ["&auml;", "&uuml;", "&ouml;", "&Auml;", "&Uuml;", "&Ouml;"]

pattern = "|".join(incorrect_umlauts)
welt_uml_encoding = data[data.texts.str.contains(pattern)]

welt_uml_encoding.iloc[0]['texts']

'Britische Versicherer leiden unter B√∂rsenflaute. Dividenden werden gek√ºrzt - Finanzaufsicht soll die Anlagevorschriften lockern. London - Britische Lebensversicherer galten viele Jahre als Geheimtipp. W√§hrend deutsche Assekuranzen wegen der strengen Anlagevorschriften nur einen geringen Teil der Pr√§mien in Aktien investieren durften und deshalb mit m√ºndelsicheren Anleihen und Pfandbriefen nur niedrige einstellige Renditen erwirtschafteten, konnten britische Konkurrenten bis zu 80 Prozent der Spargelder in Aktien investieren. So lange die Kurse an den B√∂rsen stiegen, waren hohe Gewinne garantiert. Doch seit die Finanzm√§rkte die schlimmste Baisse seit dem zweiten Weltkrieg erleben, haben die britischen Lebensversicherer ein Problem. Mit fallenden Kursen sinken automatisch die Renditen. Gleichzeitig m√ºssen die Versicherungspolicen bedient werden. Um fl√ºssig zu bleiben, sind die Assekuranzen gezwungen, Aktien zu verkaufen. Das wiederum setzt die Kurse zus√§tzlich unter Druck. Britannic musste wegen eines Gewinneinbruchs um 41 Prozent auf 85 Mio. Pfund (127 Mio. Euro) daher die Dividende f√ºr 2002 k√ºrzen. Bei Prudential, dem zweitgr√∂√üten Anbieter, verleitete die Ank√ºndigung, die Aussch√ºttung nicht zu erh√∂hen, die Anleger zu Panikverk√§ufen. Branchenprimus Aviva gab bekannt, dass die Gewinnbeteiligung der Aktion√§re trotz wachsender Pr√§mieneinnahmen niedriger ausfallen m√ºsse. Auch Standard Life, der gr√∂√üte europ√§ische Versicherer auf Gegenseitigkeit, l√∂ste eine Verkaufswelle aus. Dabei ist das Unternehmen gar nicht an der B√∂rse gelistet. Die Bitte an die britische Finanzaufsicht, die Financial Service Agency, die Solvenzregeln zu lockern, trug zur allgemeinen Verunsicherung bei. Wenn die Vorschriften nicht flexibel gehandhabt werden, m√ºssten Versicherer in der jetzigen Phase Aktien verkaufen, sobald eine kritische Grenze beim frei verf√ºgbaren Verm√∂gen unterschritten wird. Da Versicherer in der Regel gro√üe Aktienpakete handeln, k√∂nnten Verk√§ufe eine neue Abw√§rtsspirale ausl√∂sen. Doch nicht nur die Aktion√§re haben Geld verloren. Auch die Versicherten m√ºssen bluten. Viele H√§uslebauer, die ihre Immobilien mit kombinierten Spar- und Lebensversicherungen finanziert haben, f√ºrchten um die eigenen vier W√§nde, nachdem Aviva, Prudential und andere Versicherer niedrige Auszahlungen angek√ºndigt haben. Beim √§ltesten Versicher der Welt, Royal & Sun Alliance, ist die Aktie auf ein 20-Jahres-Tief gefallen. B√∂rsianer rechnen nach der Dividendenk√ºrzung f√ºr 2001 offenbar erneut mit einem R√ºckgang der Aussch√ºttung. Obwohl Analysten einen Gewinnsprung von 16 auf 246 Mio. Pfund erwarten, ist es sehr wahrscheinlich, dass die Aktie zum Monatsende wegen der hohen Kursverluste in den FTSE-All-Share absteigt. Das ist f√ºr das Unternehmen bitter, denn es steckt mitten in einem Umbauprozess. Die Lebensversicherungssparte ist bereits geschlossen worden, k√ºnftig will sich Royal & Sun auf Sachversicherungen konzentrieren. Aus dem Rahmen gefallen ist bislang nur Legal & General. Aktion√§re d√ºrfen sich √ºber eine 2,5-prozentige Dividendenerh√∂hung freuen. Doch diese Freude wurde teuer erkauft. Im September 2002 hatte L&G vorsorglich das Grundkapital erh√∂ht. Nun bekommen die Aktion√§re einen Teil des Geldes zur√ºck. Greg Carter, Kreditanalyst bei der Ratingagentur Fitch, hofft, dass die Versicherer aus ihren Fehlern lernen und k√ºnftig weniger Geld in Aktien investieren. Doch erste Reaktionen lassen auf das Gegenteil schlie√üen. Standard Life hat zwar 2002 den Aktienanteil von 77 auf 55 Prozent zur√ºckgefahren. Da Aktien auf lange Sicht aber h√∂here Renditen als andere Anlageformen erwirtschafteten, werde das Unternehmen auch k√ºnftig Dividendentitel √ºbergewichten. Nicht nur die Aktion√§re haben viel Geld verloren, auch die Versicherten m&uuml;ssen bluten.'

In [32]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    texts_corrected = pool.map(umlauts_correct_sz.umlauts_correct_sz, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:03.434115

In [33]:
data['texts'] = texts_corrected

## Remove URLs

A function called `correct_url_sz` takes a text input and processes it to remove URLs, HTML file references, and email addresses. A set called `exceptions` contains specific URLs that are not removed from the text. Preserving specific URLs, such as 'amazon.de', is crucial for maintaining the context and sentence structure, as removing them could result in loss of important information or topic identification, especially when certain internet companies are known primarily by their website names.

In [34]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    url_corrected = pool.map(correct_url_sz.correct_url_sz, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:13.657538

In [35]:
data['texts'] = url_corrected

## Fixing tokens containing a number and a word

We have identified several cases where numbers and words are erroneously merged into a single token. To address this problem of merged tokens, the following code has been implemented.

In [36]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    split_corrected = pool.map(split_number_word.split_number_word, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:04.893910

In [37]:
data['texts'] = split_corrected

## Remove fuzzy duplicates

By fuzzy duplicates we understand nearly duplicated articles. These are:

* drafts/minor revisions of the articles saved in the database;
* slightly changed advertisements which are published several times during a month.

We identify 'fuzzy' duplicates using cosine similarity and choose a threshold of 93% based on some visual exploration. Here is the article by Ryan Basques we used as a reference: [Link](https://towardsdatascience.com/a-laymans-guide-to-fuzzy-document-deduplication-a3b3cf9a05a7).

In [38]:
# Create a 'date' column in the data DataFrame
data['date'] = pd.to_datetime(data[['year', 'month', 'day']])

### Duplicates exploration

We must first identify and visually inspect the fuzzy duplicates using the `fuzzy_duplicates_test` function before proceeding with their removal. This step ensures the algorithm's performance is as expected, and it accurately identifies articles as fuzzy duplicates based on their cosine similarity.

In [39]:
# Required input for the function 'fuzzy_duplicates': a dataframe for each month-year combination.
# List with a year
inputs_year = []
# List with a month
inputs_month = []
# List with the dataframes containing 'year', 'month', and 'texts' columns
inputs_month_year = []
for year in list(set(data['year'])):
    for month in list(set(data['month'])):
        # Exclude time periods with no data
        if data[(data['year'] == year) & (data['month'] == month)].empty:
            continue
        inputs_year.append(year)
        inputs_month.append(month)
        inputs_month_year.append(data[(data['year'] == year) & (data['month'] == month)][["month", "year", "texts", "word_count", "date"]])
        
inputs = list(zip(inputs_year, inputs_month, inputs_month_year))

In [40]:
startTime = datetime.now() # track time

import fuzzy_duplicates_test_all_dpa 

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    dup_intermediate = pool.map(fuzzy_duplicates_test_all_dpa.fuzzy_duplicates_test, inputs) 
    duplicates = pd.concat(dup_intermediate) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

duplicates.to_csv('duplicates.csv', encoding = 'utf-8-sig', sep = ';')

0:03:10.864753

### Drop the duplicates

In [41]:
startTime = datetime.now() # track time

delete_indices = []

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    # apply function to all combinations of month-year in parallel
    delete_intermediate = pool.map(fuzzy_duplicates_dpa.fuzzy_duplicates, inputs)
    delete_indices = delete_indices + delete_intermediate # create one list of indices
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:03:34.546829

In [42]:
# Free memory
inputs = None
# List of indices corresponding to the duplicated articles
delete_indices = [item for sublist in delete_indices for item in sublist]
# List of unique indices
delete_indices = list(set(delete_indices))
# Drop the fuzzy duplicates
data.drop(data.index[delete_indices], inplace = True)
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [43]:
# the number of articles after removing fuzzy duplicates
len(data)

166603

## Welt-specific problem

We encountered a minor issue specific to the Welt dataset while addressing other problems. This issue involves texts containing unicode errors. To resolve this, we identify such texts and correct the unicode errors using the function `unicode_correct_welt`. For example, the function converts 'Ha{ring}kann' to 'H√•kan'.

In [44]:
startTime = datetime.now() 

to_correct = list(data[data.texts.str.contains('{sbquo}|{ring}|{cech}|{ogon}|{circ}')].index)

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    unicode_corrected = pool.map(unicode_correct_welt.unicode_correct_welt, [text for text in data.loc[to_correct, 'texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

# Replace the texts with the corrected version of the articles.
data.loc[to_correct, 'texts'] = unicode_corrected

0:00:00.817437

## Clean articles

Welt articles include some text passages that are unlikely to be relevant for either topic modeling or sentiment analysis. We decided to clean the affected articles from these text passages to make the analysis easier for our models.

We remove the following information from the texts:

   * 1) Internet addresses
   * 2) references to photo sources
   * 3) references to additional information
   * 4) telephone and fax numbers
   * 5) references to page numbers
   * 6) advertisements for the new Gabler-Wirtschaftslexikon

In [45]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    cleaned_articles = pool.map(clean_welt_articles.clean_welt_articles, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:10.341506

In [46]:
data['texts'] = cleaned_articles

In [47]:
# Calculate an updated word count of the cleaned articles.

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:03.923680

In [48]:
# Update the word count in the data frame.
data['word_count'] = count_results
# Drop short articles.
data = data[data['word_count']>=100]
data.reset_index(inplace=True, drop=True)

In [49]:
# the number of articles after excluding articles shorter than 100 words
len(data)

166552

## Exclude tables

In this section, we preprocess the news articles by removing tables to minimize noise and emphasize relevant content. We begin by calculating a numerical density metric for each text, which is computed as the ratio of the count of numbers to the total word count (excluding numbers). Texts with a numerical density of at least 20% are considered as candidates for containing tables. We manually examine these texts to identify recurring strings that typically precede tables. Using regular expressions, we exclude the tables based on these strings. Moreover, we delete some text segments predominantly comprising numbers.

In [50]:
# use the 'numeric_articles' function to identify articles with a high share of numbers in them
inputs = zip(data['texts'], data['word_count'], itertools.repeat(0.20))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    tables = pool.starmap(numeric_articles.numeric_articles, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)
data['tables'] = tables
tables = data[data.tables == True]

0:00:02.793106

Below is an example of an article containing a table with the losses of the ten richest Americans. To remove this table, we apply the following regular expression: `r'Tabelle: Die Verluste.{0,}'`.

In [51]:
tables.loc[105975,'texts']

'Gigantische √úbernahme. US-Milliard√§r Buffett kauft sich eine Eisenbahn. HIGHLIGHT: Der US-Investor Warren Buffett ist gesch√§tzte 40 Milliarden Dollar reich. Nun kauft sich der Milliard√§r eine komplette Eisenbahn-Gesellschaft - und er gibt daf√ºr noch mehr Geld aus, als ihm als Verm√∂gen zugeschrieben wird. Buffett sagt: Das ist wie eine Wette - und setzt nun alles auf eine Karte. Die Holdinggesellschaft Berkshire Hathaway des Milliard√§rs Warren Buffett √ºbernimmt f√ºr 44 Milliarden US-Dollar - umgerechnet rund 30 Milliarden Euro - die Bahngesellschaft Burlington Northern Santa Fe in den Vereinigten Staaten von Amerika. Damit stemmt Buffett den gr√∂√üten Zukauf in der Geschichte seines Unternehmens. Er wird in der Forbes-Liste der reichsten Menschen 2009 mit 40 Milliarden Dollar Verm√∂gen gef√ºhrt. Der Zukauf √ºbersteigt somit sogar Buffetts Reichtum. Er hatte in der Finanzkrise mehrere Milliarden Dollar verloren. Berkshire zahle 100 Dollar je Burlington-Aktie in bar und in Dividendenpapieren, teilte das Unternehmen mit. Der Abschluss der Transaktion werde f√ºr das erste Quartal 2010 erwartet. Die Anteilsscheine von Burlington sprangen nach Bekanntgabe der Fusionspl√§ne vorb√∂rslich 28 Prozent in die H√∂he. Das Gesch√§ft setze alles auf die Karte einer wirtschaftlichen Erholung der USA, sagte Buffett: ‚ÄûIch liebe solche Wetten." Berkshire kontrolliert rund 80 Firmen. Zur breiten Palette der Holdinggesellschaft geh√∂ren neben Versicherern auch Versorger, Restaurantketten, Textilunternehmen, Gro√ühandelskonzerne und Schmuckhersteller. Buffetts Holding besitzt bereits gut ein F√ºnftel der Eisenbahn-Gesellschaft und kauft das Unternehmen nun komplett. Der Preis beinhaltet auch zehn Milliarden Dollar Schulden. Der Kaufpreis bedeutet einen Aufschlag von gut 30 Prozent auf den Schlusskurs der Eisenbahn-Aktie. Tabelle: Die Verluste der zehn reichsten US-Amerikaner Quelle: [URL= Stand: 30.9.2009, 17.9.2008. (Zahlen f√ºrs Vorjahr). Weblink: . Platz 2009/ Name (Platz 2008). Verm√∂gen 2009. Verm√∂gen 2008. Verlust. 1. Bill Gates (2008: 1.). 50 Mrd. $. 57 Mrd. $. -7 Mrd. $. 2. Warren Buffett (2.). 40 Mrd. $. 50 Mrd. $. -10 Mrd. $. 3. Lawrence Ellison (3.). 27 Mrd. $. 27 Mrd. $. +/- 0. 4. Christy Walton und Familie (6.) 21,5 Mrd. $. 23,2 Mrd. $. -1,7 Mrd. $. 5. Jim C. Walton (4.). 19,6 Mrd. $. 23,4 Mrd. $. -3,8 Mrd. $. 6. Alice Walton (6.). 19,3 Mrd. $. 23,2 Mrd. $. -3,9 Mrd. $. 7. S. Robson Walton (5.). 19 Mrd. $. 23,3 Mrd. $. -4,3 Mrd. $. 8. Michael Bloomberg (8.). 17,5 Mrd. $. 20 Mrd. $. -2,5 Mrd. $. 9. Charles Koch (9.). 16 Mrd. $. 19 Mrd. $. -3 Mrd. $. 9. David Koch (9.). 16 Mrd. $. 19 Mrd. $. -3 Mrd. $.'

Clean tables using regular expressions.

In [52]:
startTime = datetime.now()
if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    remove_tables = pool.map(clean_tables_welt.clean_tables_welt, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

data['texts'] = remove_tables

0:00:04.014743

In [53]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:04.017384

In [54]:
# Update the content of the column "word_count"
data['word_count'] = count_results

In [55]:
# remove articles with less than 100 words
data = data[data['word_count']>=100]
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True)
# the number of articles after excluding articles shorter than 100 words
print(len(data))
del data['tables']

166541

## Identify articles that predominantly consist of numbers

Articles that predominantly consist of numerical data present challenges for sentiment or topic analysis as, once numbers are removed, they tend to contain limited information. Therefore, we remove articles with a numerical density of 50% or greater.

In [56]:
# use the 'numeric_articles' function to identify economic articles with a high share of numbers in them
inputs = zip(data['texts'], data['word_count'], itertools.repeat(0.50))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    numeric_list = pool.starmap(numeric_articles.numeric_articles, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)
data['numeric'] = numeric_list

0:00:02.955905

In [57]:
# inspect example article with high share of numbers
data[data.numeric == True]['texts'].iloc[0]

'Bundesliga Hamburg - Wolfsburg...Sa., 15.30 Schalke - Bayern M√ºnchen...Sa., 15.30 Kaiserslautern - Dortmund...Sa., 15.30 Stuttgart - M√∂nchengladbach...Sa., 15.30 Mainz - Leverkusen...Sa., 15.30 Bielefeld - Hertha...Sa., 15.30 Bremen - N√ºrnberg...Sa., 15.30 K√∂ln - Hannover...So., 17.30 Duisburg - Frankfurt...So., 17.30 1. FC Bayern M√ºnchen 8 17:5 21 2. Hamburger SV 8 17:4 20 3. Werder Bremen 8 21:10 19 4. FC Schalke 04 8 10:5 16 5. Hertha BSC Berlin 8 12:9 14 6. Borussia M√∂nchengladbach 8 10:9 14 7. VfL Wolfsburg 8 11:12 12 8. Bayer 04 Leverkusen 8 15:14 11 9. Borussia Dortmund 8 11:10 10 10. VfB Stuttgart 8 9:9 10 11. 1. FC K√∂ln 8 11:13 9 12. Hannover 96 8 9:12 7 13. 1. FC Kaiserslautern 8 10:18 7 14. MSV Duisburg 8 11:16 6 15. 1. FC N√ºrnberg 8 6:11 6 16. Arminia Bielefeld 8 6:13 6 17. 1. FSV Mainz 05 8 5:12 4 18. Eintr. Frankfurt 8 3:12 4 BASKETBALL Bundesliga, M√§nner: EWE Bask. Oldenburg - TBB Trier 90:73. EISHOCKEY DEL, 11. Spieltag: Augsburger Panther - Eisb√§ren Berlin 5:4 n.P. FECHTEN WM in Leipzig, M√§nner, Degen, Mannschaft: 1. Frankreich, 2. Deutschland (Schmitt/Schmid/Strigel/Fiedler), 3. Ukraine. Frauen, Florett, Mannschaft, 1. S√ºdkorea, 2. Rum√§nien, 3. Frankreich. Zweite Liga Ahlen - Karlsruhe... Rostock - Aue... 1860 M√ºnchen - Paderborn... Offenbach - Siegen...So., 15.00 F√ºrth - Burghausen...So., 15.00 Braunschweig - Bochum...So., 15.00 Freiburg - Saarbr√ºcken...So., 15.00 Cottbus - Unterhaching...So., 15.00 Dresden - Aachen...Mo., 20.15 1. VfL Bochum 8 14:5 18 2. Energie Cottbus 8 18:11 16 3. SC Paderborn 8 15:9 15 4. Braunschweig 8 13:7 14 5. Karlsruher SC 8 9:6 14 6. SC Freiburg 8 9:7 14 7. 1860 M√ºnchen 8 15:10 13 8. Greuther F√ºrth 8 11:12 13 9. Alemannia Aachen 8 16:13 12 10. Siegen 8 13:10 11 11. Dynamo Dresden 8 12:11 11 12. Erzgebirge Aue 8 6:6 10 13. Kickers Offenbach 8 10:18 10 14. Burghausen 8 8:9 8 15. Hansa Rostock 8 9:12 8 16. Unterhaching 8 8:13 5 17. Saarbr√ºcken 8 3:21 4 18. Ahlen 8 8:17 3 TENNIS M√§nner, Turnier Stockholm, Achtelfinale: Sch√ºttler (Deutschland) - Nieminen (Finnland) 6:3, 3:0 - Aufgabe Nieminen, Srichaphan (Thailand) - Waske (Deutschland) 6:3, 6:2, Bj√∂rkman (Schweden) - Ancic (Kroatien) 7:5, 7:6, Rochus (Belgien) - Benneteau (Frankreich) 6:4, 6:2, Blake (USA) - Rochus (Belgien) 6:7, 7:5, 6:2, Martin (Spanien) - Malisse (Belgien) 3:6, 6:3, 7:6. Frauen, Turnier in Moskau, Achtelfinale: Schiavone (Italien) - Mauresmo (Frankreich) 6:1, 6:1.'

In [58]:
data[data.numeric == True]['texts'].iloc[1]

"Deutschlands Gro√üe 500. Die WELT-Rangliste der deutschen Wirtschaft (Teil I, Rang 1-276). RangUnternehmenBrancheUmsatzAnmerkungenBesch√§ftigte. 09082009+/-%2009+/-%. 1 1 Volkswagen AG, Wolfsburg Automobil 105.187 - 7,6 K, IAS/IFRS 368.500 - 0,4 2 3 Eon AG, D√ºsseldorf Energie 81.817 - 5,7 K 88.586 - 5,6 3 2 Daimler AG, Stuttgart Automobil 78.924 - 19,8 K, IFRS 256.407 - 6,2 4 4 Siemens AG, M√ºnchen Elektronik, Elektrotechnik 76.651 - 0,9 K, IFRS, 405.000 - 5,2. 5 5 Metro AG, D√ºsseldorf Handel 65.529 - 3,6 K, IAS/ IFRS 286.091 - 1,7 6 7 Deutsche Telekom AG, Bonn (*1) Telekommunikation 64.600 + 4,8 K, IAS/IFRS, √ÑK 259.920 + 14,1. 7 - Porsche Automobil Holding SE, Stuttgart (*2) Automobilindustrie 57.081 - K, IAS/IFRS 375.959 -. 8 9 Unternehmensgruppe Schwarz, Neckarsulm Lebensmitteleinzelhandel 54.500 + 0,9 K, G1 290.000 + 3,6. 9 12 Rewe Group, K√∂ln Handel, Touristik 50.900 + 2,2 K, IAS/IFRS, G1 326.000 + 2,1. 10 6 BASF S.E., Ludwigshafen Chemie 50.693 - 18,6 K, IAS/IFRS 104.779 + 8,1 11 11 BMW AG, M√ºnchen Automobile, Motorr√§der 50.681 - 4,7 K, IAS/IFRS 96.230 - 3,8. 12 13 RWE AG, Essen (*3) Energie 47.741 - 2,5 K, IAS/IFRS, √ÑK 70.726 + 7,3 13 8 Deutsche Post DHL, Bonn Post, Logistik, Finanzen 46.201 - 15,2 K, IAS/IFRS 424.686 - 5,9. 14 15 EADS, M√ºnchen Luft- und Raumfahrt, R√ºstung, Dienstleistungen 42.822 - 1,0 K, IAS/IFRS 119.506 + 1,0. 15 17 Edeka Zentrale AG & Co. KG, Hamburg Handel 42.060 + 14,9 K, HGB 289.602 + 10,4. 16 16 Eon Energie AG, M√ºnchen (zu Eon AG) Energie 41.419 + 0,7 48.126 + 9,0 17 25 Eon Energy Trading SE, D√ºsseldorf (zu Eon Energie AG) Handel 41.251 + 29,4 1.075 + 21,5. 18 10 ThyssenKrupp AG, D√ºsseldorf Investitionsg√ºter, Werkstoffe, Automobilzulieferung, Dienstleistung 40.563 - 24,1 K, IAS/IFRS 187.495 - 6,0 19 14 Robert Bosch GmbH, Stuttgart Elektrotechnik 38.174 - 15,4 K, IAS/IFRS, √ÑK 270.687 - 4,0. 20 22 Bayer AG, Leverkusen Chemie, Gesundheit, Ern√§hrung 31.168 - 5,3 K, IAS/IFRS 108.400 - 0,2. 21 21 Metro Cash & Carry International GmbH, D√ºsseldorf (zu Metro AG) Gro√ühandel 30.613 - 7,6 E, IAS/IFRS 118.700 + 7,6 22 19 Audi AG, Ingolstadt Automobile 29.840 - 12,7 K, IAS/IFRS 57.723 + 0,3 23 20 Deutsche Bahn AG, Berlin Transport 29.335 - 12,3 K, IAS/IFRS, √ÑK 239.382 - 0,4. 24 28 Franz Haniel & Cie. GmbH, Duisburg Handel und Dienstleistungen 24.524 - 7,0 K, IAS/IFRS 53.243 + 8,3 25 30 Deutsche Lufthansa AG, Frankfurt/Main (*4) Luftverkehr 22.283 - 10,3 K, HGB, IAS/IFRS, Wa2, √ÑK 117.521 + 9,0 26 34 Celesio AG, Stuttgart Pharmahandel- und Dienstleistungen 21.497,2 + 1,6 K, IAS/IFRS 46.095 + 22,1. 27 35 Phoenix Pharmahandel GmbH & Co. KG, Mannheim Pharmahandel 21.319 - 1,3 K, G1 23.322 + 6,3. 28 27 Eon Ruhrgas AG, Essen (zu Eon AG) Gaswirtschaft 20.640 - 24,7 K, IAS/IFRS 3.143 - 68,0. 29 32 Aldi Gruppe, Essen und M√ºlheim/Ruhr Handel 20.360 - 16,9 G3 k.A. - 30 33 Continental AG, Hannover Automobilzulieferer 20.095,7 - 17,1 K, IAS/IFRS 134.434 - 3,4. 31 40 Media-Saturn-Holding GmbH, Ingolstadt (zu Metro AG) Einzelhandel 19.700 + 3,7 E, IAS/IFRS 56.199 + 2,6 32 - Alstom Deutschland AG, Mannheim Maschinenbau 19.650 + 4,9 K 76.000 + 0,9 33 26 Deutsche BP AG, Bochum (*5) Mineral√∂l, Energie, Solar-Energie 19.561 - 34,5 K, HGB 8.254 + 41,5 34 31 Shell Deutschland Oil GmbH, Hamburg Mineral√∂l, Erdgas, Chemie 18.505 - 25,0 E, HGB, G1 4.164 - 2,0 35 39 Hochtief Aktiengesellschaft, Essen Baudienstleistung 18.166 - 2,9 K, IAS/IFRS, Wa1 66.178 + 2,6. 36 41 Lufthansa Air Plus Servicekarten GmbH, Neu-Isenburg (zu Lufthansa AG) Finanzdienstleistungen 17.100 - 5,5 K, HGB, G1 856 + 3,6 37 37 Ford-Werke GmbH, K√∂ln (*6) Automobil 17.028 - 13,8 E, HGB, G1, √ÑK 28.842 - 3,9. 38 29 TUI AG, Hannover (*7) Touristik, Schifffahrt 16.574 - K, IAS/IFRS, U, √ÑK 69.536 - 1,0. 39 47 Heraeus Holding GmbH, Hanau Edelmetall, Quarzglas, Sensoren, Dentalprodukte, Biomaterialien, Medizinprodukte 16.200 + 1,8 K, IFRS 12.340 - 3,8. 40 49 Bayer Health Care AG, Leverkusen (zu Bayer AG) Pharma 15.988 + 3,8 K, IAS/IFRS 53.400 + 0,6. 41 44 EnBW Energie Baden-W√ºrttemberg AG, Karlsruhe Energieversorger 15.564,2 - 4,5 K, IAS/IFRS 20.914 + 2,0 42 46 Bertelsmann AG, G√ºtersloh Medien 15.364 - 4,7 K, IAS/IFRS, √ÑK 102.983 - 2,9. 43 43 Th√ºga Aktiengesellschaft (Gruppe), M√ºnchen Energieversorger 15.300 - 7,8 K, HGB, G1 16.800 - 12,5 44 83 Exxon Mobil Central Europe GmbH, Hamburg Mineral√∂l 15.200 - V 3.404 + 36,2 45 51 Lidl Dienstleistung GmbH & Co. KG, Neckarsulm (zu Schwarz Beteiligungs GmbH) Lebensmitteleinzelhandel 15.125 + 1,2 E, G3 k.A. - 46 36 Unternehmensgruppe Tengelmann, M√ºlheim/Ruhr (*8) Handel 14.550 - K, HGB, V, G5 83.655 - 28,2. 47 50 Vattenfall Europe AG, Berlin Energieversorger 14.462 + 7,3 K, IAS/IFRS 20.980 - 1,2. 48 66 Fresenius SE, Bad Homburg Pharma 14.164 + 14,8 K, IAS/IFRS 130.510 + 6,8 49 60 Unternehmensgruppe Aldi S√ºd, M√ºhlheim/Ruhr (zu Aldi-Gruppe) Handel 13.750 + 3,4 G3 33.300 + 0,9 50 58 Henkel AG & Co. KGaA, D√ºsseldorf Konsumg√ºter 13.573 - 3,9 K, IAS/IFRS 51.361 - 7,5. 51 - RWE Vertrieb AG, Dortmund (ehemals RWE Westfalen-Weser-Ems, zu RWE AG) Energieversorger 13.300 - HGB, G1, U 13.300 - 52 48 Evonik Industries AG, Essen (ehemals RAG AG)9 Chemie, Energie, Immobilien 13.076 - 17,6 K, IAS/IFRS, √ÑK 38.681 - 5,1 53 45 Adam Opel GmbH, R√ºsselsheim Automobile 13.000 - K, V, G4 20.000 - 14,9 54 70 Boehringer Ingelheim, Ingelheim Pharma 12.721 + 9,7 K, HGB, G1 41.534 + 0,6. 55 75 Kaufland Stiftung & Co. KG (zu Schwarz Beteiligungs GmbH) Lebensmitteleinzelhandel 12.250 + 14,2 G3 k.A. - 56 52 MAN SE, M√ºnchen (*1) (*0) Maschinenbau, Nutzfahrzeuge, Dieselmotoren, Turbomaschinen 12.026 - 19,5 K, IAS/IFRS, √ÑK 47.743 - 7,0 57 69 Lekkerland AG & Co. KG, Frechen Lebensmittel, Tabakwaren, Convenience, Telekommunikation, Gro√ühandel 12.000 + 3,5 K, IAS/IFRS 6.766 - 8,1 58 84 Daimler Financial Services AG, Berlin (zu Daimler AG) Finanzdienstleistungen 11.996 + 29,2 K, IAS/IFRS 6.800 - 4,4 59 42 ThyssenKrupp Materials International GmbH, D√ºsseldorf (zu ThyssenKrupp AG) Werkstoff-Dienstleistungen 11.896 - 31,4 K, IAS/IFRS 43.235 - 7,0 60 72 Aldi Nord, Essen (zu Aldi-Gruppe) Handel 11.700 + 4,5 G3 k.A. - 61 55 Wintershall Holding AG, Celle/Kassel (zu BASF) Erd√∂l, Erdgas 11.356 - 21,4 K, HGB, IFRS, G4 2.000 + 0,0 62 68 Real-SB-Warenhaus GmbH, M√∂nchengladbach (zu Metro AG) Handel 11.298 - 2,9 K, HGB k.A. -. 63 54 Schenker AG, Essen (zu Deutsche Bahn AG) Verkehr 11.249 - 23,4 K, HGB 57.134 - 8,0. 64 61 Linde AG, Wiesbaden Chemie 11.211 - 11,5 K, IAS/IFRS, √ÑK 47.731 - 8,0 65 57 HeidelbergCement AG, Heidelberg Baustoffe 11.117 - 21,6 K, IAS/IFRS, √ÑK 53.302 - 12,4. 66 71 SAP AG, Walldorf Software 10.672 - 7,8 K, IFRS 48.471 - 6,1 67 65 ThyssenKrupp Technologies AG, Essen (zu ThyssenKrupp AG) Automobilzulieferung, Anlagenbau, Schiffbau 10.640 - 14,3 K, IAS/IFRS 49.056 - 9,2. 68 80 Bilfinger Berger AG, Mannheim Bau, Dienstleistungen 10.403 + 6,6 K, IAS/IFRS 67.199 + 10,3. 69 74 Adidas AG, Herzogenaurach Sportartikel 10.381 - 3,9 K, IAS/IFRS 39.596 + 1,6. 70 - RWE Power AG, Essen (zu RWE AG) Energieerzeugung, Energierohstoffgewinnung 10.261 - 1,5 E, HGB, Wa 14.324 + 1,5 71 78 Otto GmbH & Co. KG, Hamburg Versandhandel 10.138 + 1,5 K, IFRS, G1, Wa 48.653 - 1,8. 72 160 Evonik Degussa GmbH, D√ºsseldorf (zu Evonik AG) (*1) (*1) Chemie 9.978 - 15,2 K, Wa 29.723 - 6,3 73 56 ThyssenKrupp Steel AG, Duisburg (zu ThyssenKrupp AG) Stahl 9.945 - 30,7 K, IAS/IFRS 39.156 - 5,2. 74 159 Netto Marken-Discount AG & Co. KG, Maxh√ºtte-Haidhof (*1) (*2) Einzelhandel 9.940 +137,3 K, HGB, √ÑK 64.000 + 125,4 75 63 ZF Friedrichshafen AG, Friedrichshafen Automobilzulieferer 9.371 - 25,0 K, IAS/IFRS 59.771 - 5,6. 76 59 Marquard & Bahls AG, Hamburg Holding 9.306 - 30,4 K, IAS/IFRS 3.692 + 10,4 77 85 Dr. August Oetker KG, Bielefeld Nahrungsmittel, Schifffahrt, Getr√§nke 9.240 - K, HGB, V 24.500 + 0,0 78 81 GE Deutschland Mischkonzern 9.200 - V, G4 7.000 - 79 82 Vodafone D2 GmbH, D√ºsseldorf (*1) (*3) Telekommunikation 9.040 - 4,0 E, HGB 13.000 - 13,3. 80 86 Maxingvest AG, Hamburg Holding 8.906 - 3,1 K, IAS/IFRS 32.532 - 4,3 81 73 T-Systems, Frankfurt/Main (zu Deutsche Telekom AG) Telekommunikation, Informationstechnologie 8.800 - 5,4 E 45.300 - 13,7 82 67 Total Mineral√∂l und Chemie GmbH, Berlin Mineral√∂l 8.714 - 28,9 K, HGB, G1 3.983 - 1,4. 83 93 BSH Bosch und Siemens Hausger√§te GmbH, M√ºnchen (zu Robert Bosch GmbH und Siemens AG) Elektrotechnik, Hausger√§teindustrie 8.405 - 4,0 K, IAS/IFRS 39.600 - 1,7. 84 94 Capgemini Deutschland Holding GmbH, Berlin IT- und Managementberatung, Outsourcing 8.371 - 3,9 K, IAS/IFRS 90.516 - 1,2 85 97 T-Mobile Deutschland GmbH, Bonn (zu Deutsche Telekom AG) (*1) (*4) Telekommunikation 8.109 + 4,0 K, IAS/IFRS 6.077 + 0,8 86 62 Alfred C. Toepfer International GmbH, Hamburg Gro√ü- und Au√üenhandel 7.950 - 36,4 K, HGB 2.105 + 0,2 87 104 Fresenius Medical Care AG & Co. KGaA, Bad Homburg Dialyse 7.847,4 + 8,5 K, US-GAAP, $ 71.617 + 5,2 88 64 Salzgitter AG, Salzgitter Stahlproduktion 7.818 - 37,5 K, IAS/IFRS 23.378 - 2,2. 89 99 Merck KGaA, Darmstadt Chemie, Pharma 7.774 + 2,9 K, IAS/IFRS 33.062 + 0,8 90 91 W√ºrth-Gruppe, K√ºnzelsau Handel (Montage- und Befestigungstechnik) 7.522 - 14,7 K, IAS/IFRS 57.882 - 7,8 91 - Bayer Material Science (zu Bayer AG) Hochwertige Materialien 7.520 - 22,8 K, IAS/IFRS 14.300 - 5,3. 92 89 Wingas GmbH, Kassel Energieversorger 7.400 -18,0 K, HGB, G5 450 + 22,6 93 90 INA-Holding Schaeffler GmbH & Co. KG, Herzogenaurach Metallverarbeitende Industrie 7.300 - 18,0 K, IAS/IFRS 61.000 - 7,6 94 92 Baywa AG, M√ºnchen Handel 7.260 - 17,5 K, IAS/IFRS, √ÑK 15.312 - 1,2 95 102 Anton Schlecker, Ehingen Handel 7.200 - 3,0 K 52.100 - 6,5 96 106 Conoco Phillips Germany GmbH, Hamburg Mineral√∂l 7.158,6 - V 446 - 0,4 97 121 Airbus GmbH, Hamburg (zu EADS) Zivile Luftfahrt 6.815 - E, IAS/IFRS, V 21.596 - 1,7. 98 108 DB Regio AG, Frankfurt/Main (zu Deutsche Bahn AG) Transport, √∂ffentlicher Personennahverkehr 6.775 + 1,3 K, HGB, G1 25.004 - 0,3 99 95 Aurubis AG Kupferproduzent 6.686,9 - 20,2 K, IAS/IFRS 4.726 - 0,8 100 100 Porsche AG, Stuttgart Automobil 6.600 - 11,6 E, IAS/IFRS 12.652 + 3,7 101 - Bayer Crop Science AG, Monheim (zu Bayer AG) Ern√§hrung, Pflanzenschutz 6.510 + 2,0 K, IAS/IFRS 18.700 + 2,2 102 109 Transpower Strom√ºbertragungs GmbH Netzbetreiber 6.432 - 3,2 E 750 - 103 115 Edeka Minden-Hannover Stiftung & Co. KG, Minden Handel 6.405,7 + 2,0 K, HGB 31.593 + 0,3. 104 103 Brenntag AG, M√ºlheim Chemiedistribution 6.400 - 13,5 K, IFRS 11.000 + 0,0. 105 76 MAN Nutzfahrzeuge AG, M√ºnchen (zu MAN SE) Nutzfahrzeugbau 6.395 - 39,7 K, IAS/IFRS, 31.285 - 13,7. 106 147 OMV Deutschland GmbH, Burghausen Petrochemie 6.318 - E, HGB, V 610 - 0,2 107 114 C & A Mode & Co., D√ºsseldorf Textilhandel 6.303 + 0,0 HGB 36.476 + 1,3 108 119 Obi Bau- und Heimwerkerm√§rkte GmbH & Co. Franchise Center KG, Wermelskirchen (zu Unternehmensgruppe Tengelmann) Einzelhandel 5.900 + 0,4 K, HGB 38.500 - 0,3. 109 131 EWE AG, Oldenburg Energieversorger 5.798,4 + 8,8 K, IFRS, √ÑK 6.446 + 20,6. 110 117 Beiersdorf AG, Hamburg Kosmetik, Klebeb√§nder 5.748 - 3,7 K, IAS/IFRS 20.346 - 6,5. 111 130 Amprion GmbH, Dortmund (vormals RWE Transportnetz Strom GmbH, zu RWE AG) Energie 5.742 + 6,5 E, IAS/IFRS 768 + 171,4 112 120 S√ºdzucker AG, Mannheim/Ochsenfurt Nahrungsmittel 5.718,2 - 2,6 K, IAS/IFRS 17.493 - 2,5. 113 123 Remondis AG & Co. KG, L√ºnen Wasser-, Kreislaufwirtschaft 5.600 - E, V 18.800 -. 105 RWE Rheinland Westfalen Netz AG, Essen (ehemals RWE Rhein-Ruhr AG, zu RWE AG) Energievertrieb 5.600 - K, IAS/IFRS, U 8.500 - 115 134 Stadtwerke K√∂ln GmbH, K√∂ln Versorger 5.478,2 + 7,2 K, HGB, G1 10.660 + 2,9. 116 142 ThyssenKrupp Elevator AG, D√ºsseldorf (zu ThyssenKrupp AG) Aufzugsbau und -wartung 5.308 + 7,7 E, IFRS 42.698 - 0,7 117 98 Sandoz Pharmaceutical GmbH, Holzkirchen (zu Novartis) Pharma 5.235 - 2,4 K, $ 23.000 - 0,6. 118 141 Voith AG, Heidenheim Maschinenbau, Anlagenbau, Industriedienstleistungen 5.083 + 3,0 K, IAS/IFRS 39.329 - 8,4 119 110 Lanxess AG, Leverkusen Chemie 5.057 - 23,1 K, IAS/IFRS 14.338 - 3,1 120 137 Edeka Handelsgesellschaft S√ºdwest mbH, Offenburg Handel 5.020 - 0,2 K, HGB 22.000 -. 121 122 Agravis Raiffeisen AG, Hannover/M√ºnster Agrarhandel 4.956 - 14,7 K, HGB, √ÑK 4.932 + 4,8. 122 87 Helm AG, Hamburg Chemie-Marketing 4.928 - 46,0 K, HGB 1.342 + 1,4 123 146 Stadtwerke M√ºnchen, M√ºnchen Versorger 4.900 + 3,9 K, HGB 7.500 + 0,0 124 143 Dow Gruppe Deutschland Chemie 4.835 - K, HGB, G4, V 6.340 - 2,9 125 140 Arvato AG, G√ºtersloh (zu Bertelsmann AG) Media Services 4.826 - 3,3 K, IAS/IFRS 60.323 - 3,6. 126 124 Unternehmensgruppe Knauf, Iphofen Baustoffe 4.800 - 14,3 K, G1 23.000 + 0,0. 127 126 VNG-Verbundnetz Gas AG, Leipzig Energieversorgung 4.762,9 - 13,8 E, HGB 675 + 8,2. 128 145 TUI Deutschland GmbH, Hannover (zu TUI AG) Tourismus 4.741,9 - 9,0 K, IAS/IFRS 8.506 + 20,9. 129 167 Sanofi-Aventis Deutschland GmbH, Frankfurt/Main Pharma 4.700 + 17,5 E, HGB 10.260 + 2,6. 130 132 Siemens IT Solutions and Services, M√ºnchen (zu Siemens AG) IT-Dienstleistungen 4.686 - 12,0 K, IAS/IFRS 35.000 - 14,6 131 158 Roche Deutschland Holding GmbH, Grenzach-Wyhlen Pharma, Diagnostik 4.673 + 9,0 13.000 + 0,0. 132 161 Globus Handelshof Gruppe, St. Wendel Einzelhandel 4.616 + 11,5 K, HGB 28.050 + 5,5. 133 149 Procter & Gamble GmbH, Schwalbach am Taunus Chemie 4.600 - 1,1 G4 15.000 -. 134 112 Benteler AG, Paderborn Automobilzulieferer 4.564 - 27,9 K, HGB 23.146 - 4,7. 135 139 Hewlett Packard GmbH, B√∂blingen Informationstechnologie 4.552 - 9,0 E, HGB 8.525 - 2,0. 136 101 ThyssenKrupp Stainless AG, Duisburg (zu ThyssenKrupp Steel AG) Edelstahl 4.486 - 39,5 11.755 - 3,7 137 116 Hapag-Lloyd AG, Hamburg Schifffahrt 4.441 - 28,6 K, IAS/IFRS, G1 6.800 -10,7. 138 - British American Tobacco Germany GmbH, Hamburg (zu British-American Tobacco Industrie GmbH) Tabak 4.420 - E, HGB, V 1.740 + 2,1 139 133 Gea Group AG, Bochum15 Spezialmaschinen- und Anlagenbau 4.411 - 14,8 K, IAS/IFRS, √ÑK 20.693 - 3,0. 140 168 DM-Drogerie Markt GmbH & Co. KG, Karlsruhe Einzelhandel 4.379 + 10,5 33.584 + 9,3. 141 128 Total Raffinerie Mitteldeutschland GmbH, Spergau Mineral√∂l 4.363 - 20,0 E, HGB 626 - 1,3. 142 - Vattenfall Europe Generation AG, Cottbus Versorger 4.291,5 - V 2.700 - 1,0 143 88 IBM Deutschland GmbH, Ehningen Informationstechnologie 4.253 - V 9.173 - 22,8. 144 136 Freudenberg & Co. Kommanditgesellschaft, Weinheim Industrie 4.201 - 16,8 K, IAS/IFRS, √ÑK 32.142 - 1,8 145 118 Bosch Rexroth AG, Lohr/Main (zu Robert Bosch GmbH) Antriebs-, Steuerungs- und Regelungstechnik 4.146 - 29,7 K, IAS/IFRS 34.225 - 3,0 146 129 Fujitsu Technology Solutions GmbH, M√ºnchen (ehem. Fujitsu Siemens Computers GmbH) Informationstechnologie 4.109 - 24,3 E 4.109 - 33,5 147 162 Karstadt Warenhaus GmbH, Essen (zu Arcandor AG) (*1) (*6) Handel 4.100 - K, IAS/IFRS, V 23.195 -. 148 155 Strabag AG, K√∂ln Bauindustrie 4.075 - 7,3 K, IAS/IFRS 10.192 - 2,1 152 Einkaufsb√ºro Deutscher Eisenh√§ndler GmbH, Wuppertal Handel 4.075 - 11,2 K, HGB 775 + 1,3. 150 165 Primondo Gruppe, F√ºrth (zu Arcandor AG) (*1) (*7) Homeshopping 4.037,5 - K, IAS/IFRS, V k.A. -. 151 151 Osram GmbH, M√ºnchen (zu Siemens AG) Elektronik 4.036 - 12,7 E, US-GAAP 39.396 - 9,6. 152 176 B. Braun Melsungen AG, Melsungen Pharma, Medizinische Instrumente 4.028,2 + 6,4 K, IAS/IFRS 39.504 + 2,7 153 188 RAG Aktiengesellschaft, Herne Bergbau 4.000 + 13,0 E, HGB 31.500 + 12,6 164 Eon Kraftwerke GmbH, Hannover (zu Eon Energie AG) Kraftwerksbetreiber 4.000 - 1,5 E 3.700 + 4,4 155 174 Andreae-Noris Zahn AG, Frankfurt/Main Pharmagro√ühandel 3.967,5 + 4,1 K, IAS/IFRS 2.635 + 5,2. 156 179 Lufthansa Technik AG, Hamburg (zu Deutsche Lufthansa AG) Technische Dienstleistungen 3.963 + 6,6 K, IAS/IFRS 19.758 + 2,9 157 175 B + C T√∂nnies Fleischwerk GmbH & Co. KG, Rheda Wiedenbr√ºck Nahrungsmittel 3.950 + 3,7 K 7.200 + 24,1 158 187 DKV Euro Service GmbH + Co KG, D√ºsseldorf Dienstleistungen 3.897 + 9,7 K, HGB, G1 575 + 4,5 159 184 SMS Group, D√ºsseldorf Maschinenbau, Anlagenbau 3.891 + 8,1 K, IAS/IFRS 9.000 + 7,1. 160 138 Mahle GmbH, Stuttgart Automobilzulieferer 3.864 - 22,9 K 43.489 - 11,7 161 107 Kl√∂ckner & Co SE, Duisburg Handel 3.860 - 42,8 K 9.032 - 12,2 162 181 Hagebau GmbH & Co. KG, Soltau Baustoffhandel 3.835 + 4,6 E, HGB, G1 318 + 2,3. 163 148 DB Schenker Rail GmbH, Mainz G√ºterverkehr 3.791 - 18,5 K, HGB, G1 34.145 + 16,8. 164 177 Eurobaustoff Handelsgesellschaft mbH & Co. KG, Bad Nauheim Baustoffhandel 3.768 - 0,1 K 240 + 0,0 165 192 Bauhaus Gruppe, Mannheim Baum√§rkte (Gro√ü- und Einzelhandel) 3.750 + 7,1 15.000 + 7,1. 166 185 Telefonica O2 Germany, M√ºnchen Telekommunikation 3.746 + 4,2 K, IAS/IFRS 5.029 + 8,2. 167 157 Wacker Chemie AG, M√ºnchen Chemie 3.719,3 - 13,5 K, IAS/IFRS 15.618 - 1,9 168 170 Praktiker Bau- und Heimwerkerm√§rkte Holding AG, Kirkel Bau- und Heimwerkerm√§rkte 3.663,4 - 6,2 K, IAS/IFRS 27.300 - 8,4 169 183 Toshiba Europe GmbH, Neuss Elektronik 3.658 + 0,1 K, HGB 1.104 - 11,6 170 227 Freenet AG, Hamburg (*1) (*8) Telekommunikation 3.650,7 + 31,5 K, IAS/IFRS, √ÑK, Wa2 4.394 - 39,4 171 172 Ingram Micro Holding GmbH, M√ºnchen IT-Handel 3.641,1 - 5,9 K, HGB, G1 1.215 - 5,8. 172 178 SCA Hygiene Products SE, M√ºnchen Hygieneprodukte 3.634 - 3,4 K, IAS/IFRS 9.970 + 3,5. 173 144 K+S Aktiengesellschaft, Kassel Agrarchemie 3.573,8 - 25,5 K, IAS/IFRS, √ÑK 15.208 + 23,0. 174 190 Galeria Kaufhof GmbH, K√∂ln (zu Metro AG) Handel 3.539 - 1,9 K, IAS/IFRS, √ÑK, Wa 18.221 - 5,7. 175 182 Actebis GmbH, Soest IT, Software, Hardware, Unterhaltungselektronik, Telekommunikation 3.530 - 3,6 K, IAS/IFRS 1.900 + 5,6 176 163 Mabanaft Deutschland GmbH & Co. KG, Hamburg (zu Marquard & Bahls AG) Mineral√∂lhandel 3.521 - 13,9 E, IAS/IFRS 72 + 4,3 177 186 Nestl√© Deutschland AG, Frankfurt/Main Lebensmittelindustrie 3.437,7 - 4,1 K, HGB, G1, √ÑK 12.517 - 1,2 178 189 DB Fernverkehr AG, Frankfurt/Main (zu Deutsche Bahn AG) Transport, Eisenbahnunternehmen, Personen- und Fernverkehr 3.435 - 2,5 K, HGB, G1 15.043 + 3,0. 179 171 Rheinmetall AG, D√ºsseldorf Automotive, Wehrtechnik 3.420 - 11,6 K, IAS/IFRS 19.766 - 6,0. 180 191 Philips Deutschland GmbH, Hamburg Elektro, Elektronik 3.387 - 3,4 K, IAS/IFRS, G1 6.900 - 5,5. 181 202 Edeka Handelsgesellschaft Rhein-Ruhr mbH, Moers Handel 3.362,3 + 2,6 K, HGB, G1 10.200 + 4,7. 182 198 Ikea Deutschland GmbH & Co. KG, Hofheim M√∂bel 3.340 + 1,2 G5 13.981 + 2,8. 183 169 Hella KGaA Hueck & Co., Lippstadt Automobilzulieferer 3.285 - 16,6 K, IFRS 22.847 - 7,6. 184 229 Citiworks AG, M√ºnchen Energiehandel und -vertrieb 3.250 + 14,4 E, HGB,G1 47 - 35,6. 185 193 Air Berlin PLC & Co. Luftverkehrs KG, Berlin Fluggesellschaft 3.240,3 - 4,7 K, IAS/IFRS 8.278 - 0,4 186 211 MHK Marketing Handel Kooperation GmbH & Co. Verbundgruppe Holding KG, Dreieich K√ºchen- und M√∂belfachhandel 3.240 + 4,5 k.A. - 187 221 Novartis Deutschland GmbH, Wehr Pharma 3.203 - E, HGB, V 7.099 - 3,0 188 207 Douglas Holding AG, Hagen Handel 3.200,8 + 2,0 K, IAS/IFRS 24.190 - 1,3 189 210 Dachser GmbH & Co. KG, Kempten/Allg√§u Logistik, Transport 3.200 - 11,1 K, HGB, IAS/IFRS, G1 17.538 - 3,5 204 Eon Kernkraft GmbH, Hannover (zu Eon Energie AG) Kraftwerksbetreiber 3.200 - 1,9 G5 2.600 -. 191 154 Hamburg S√ºdamerikanische Dampfschifffahrts-Gesellschaft KG, Hamburg (zu Oetker-Gruppe) Reederei 3.193 - 28,3 K, HGB 4.791 + 0,4 192 263 Noweda eG, Essen Arzneimittelgro√ühandel 3.191 + 29,9 K, HGB, √ÑK 1.841 - 0,8. 193 206 E-Plus Mobilfunk GmbH & Co. KG, D√ºsseldorf Telekommunikation 3.181 - 1,1 K, IAS/IFRS 2.500 + 0,0. 194 180 ABB AG, Mannheim Energie- und Automationstechnik 3.180 - 13,8 E, US-GAAP 10.600 - 3,6. 195 246 MVV Energie AG Energieversorgung 3.161 + 19,9 K, IAS/IFRS, √ÑK 6.053 + 2,6. 196 213 Fegro/Selgros oHG, Neu-Isenburg Handel 3.130 + 1,8 K, G4 14.500 - 0,5 197 201 Edeka Stiftung & Co. KG Nordbayern-Sachsen-Th√ºringen (zu Edeka Gruppe) Handel 3.093 - 5,8 K, HGB 13.488 - 11,6 198 166 K√ºhne + Nagel Organisation in Deutschland, Hamburg Logistik 3.089 - 22,9 K, IAS/IFRS 9.356 + 0,4. 199 153 Kion Group GmbH, Wiesbaden Maschinenbau 3.084 - 32,3

In [59]:
len(data[data.numeric == True])

7

In [60]:
# drop articles predominantly consisting of numbers
data = data[data.numeric == False]
del data['numeric']
data.reset_index(inplace=True, drop=True)
# the number of articles after removing articles that predominantly consist of numbers
print(len(data))

166534

## Identify articles that predominantly consist of names

We eliminate texts with a name density of at least 15% (relative to the total word count, excluding numbers) as part of our pre-processing pipeline. This exclusion is important to guarantee that the remaining articles contain sufficient content for effective topic analysis, as the removal of common German names is a standard pre-processing step in LDA model estimation.

In [61]:
path = os.getcwd().replace('\\Welt', '') + '\\SZ'

# Load the dictionary containing common German first and last names
with open(path + "\\names.txt", "r", encoding="utf-8-sig") as f:
    names_list = f.read().splitlines()

In [62]:
inputs = zip(data['texts'], data['word_count'], itertools.repeat(names_list))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    names_result = pool.starmap(count_names.count_names, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)

data['names'] = names_result

0:00:21.498105

In [63]:
# Example of an article with a high proportion of names
data[data.names>=0.15].iloc[0]['texts']

'Die Mitglieder der Kommission. Der Kommission unter der Leitung des √ñkonomen Bert R√ºrup geh√∂ren 18 M√§nner und acht Frauen an. Aus der Politik: Heinrich Tiemann, Staatssekret√§r im Gesundheits- und Sozialministerium, Rosemarie Wilcken, Wismarer SPD-B√ºrgermeisterin und Gitta Trauernicht, nieders√§chsische. SPD-Sozialministerin. Aus der Wissenschaft: die √ñkonomen Axel B√∂rsch-Supan, Bernd Raffelh√ºschen und Gert Wagner, die Verwaltungswissenschaftlerin Gisela F√§rber, die Gesundheitswissenschaftler Karl W. Lauterbach und Eckhard Nagel, die Politikprofessoren Frank Nullmeier und Josef Schmid. Aus der Wirtschaft: Unternehmensberater Roland Berger, Claus-Michael Dill, Vorstandschef des AXA-Konzerns, die Unternehmerin Dominique D√∂ttling, G√ºnther Fleig, Vorstand bei Daimler-Chrysler, und BASF-Vorstand Eggert Voscherau. J√ºrgen Husmann vertritt die Arbeitgeberverb√§nde (BDA) und ist Vorstand der Bundesversicherungsanstalt f√ºr Angestellte (BfA). Von den Gewerkschaften: Vize-Chefin des DGB, Ursula Engelen-Kefer, Nadine Franz, Mitglied der Tarifkommission der IGBCE, Manfred Schoch, BMW-Betriebsratschef und Klaus Wieseh√ºgel, Vorsitzender der IG BAU. Au√üerdem: Helmut Platzer, Vorstandschef der AOK Bayern, Franz Ruland, Gesch√§ftsf√ºhrer der Rentenversicherungstr√§ger, Edda M√ºller von den Verbraucherzentralen und Barbara Stolterfoht, Vorsitzende des Parit√§tischen Wohlfahrtsverbandes. Der Darmst√§dter Wirtschaftswissenschaftler Bert R√ºrup leitet die Kommission. Bereits jetzt z√§hlt er zu den wichtigsten Beratern der Bundesregierung Rosemarie Wilken (SPD) B√ºrgermeisterin Wismar. J√ºrgen Husmann, Arbeitergeberverband. Bernd Raffelh√ºschen, Universit√§t Freiburg. Edda M√ºller, Verband der Verbraucherzentralen. Claus-Michael Dill, Vorstandschef Axa Konzern. Ursula Engelen-Kefer, DGB-Vizechefin. G√ºnther Fleig, Vorstand bei Daimler-Chrysler. Gitta Trauernicht (SPD), Landessozialministerin. Eggert Voscherau, BASF-Vorstand.'

In [64]:
# Exclude texts with a name density of at least 15%
data = data[data.names<0.15]
del data['names']
data.reset_index(inplace=True, drop=True)
# the number of articles after removing articles that predominantly consist of names
print(len(data))

166510

In [65]:
counter=collections.Counter(data['year'])
print(counter)

Counter({2003: 13950, 2005: 13615, 2006: 13381, 2007: 12874, 2009: 12171, 2002: 11564, 2008: 11487, 2001: 9932, 2010: 9830, 2004: 8419, 2013: 7651, 2011: 7498, 2012: 7223, 2014: 6990, 2015: 6473, 2016: 6216, 2017: 5603, 2000: 899, 2018: 460, 1999: 274})

In [66]:
data.to_csv('welt_prepro_final.csv', encoding = 'utf-8-sig', sep = ';')