In [1]:
import os
import multiprocessing as mp # use multiprocessing module for parallel computing
import pandas as pd # load pandas: python data analysis library
import sz_load # import a function that loads data from one folder (see sz_load.py file for details)
import codecs
import numpy as np
import collections
# import the module replacing incorrectly encoded German umlaut characters with their correct versions
import umlauts_correct_sz 
import correct_url_sz
import clean_sz_articles
import itertools
import clean_tables_sz
import count_names

from itertools import repeat
from datetime import datetime

# We import some functions from the Handelsblatt folder
import sys
sys.path.insert(1, os.getcwd().replace('SZ', 'Handelsblatt'))
import count_words_mp # import the function calculating the number of words in a text
import split_number_word
import chained_articles # import a function that outputs two parts of a chained article and duplicated articles
import find_umlaut

# We import some functions from the 'dpa' folder
sys.path.insert(1, os.getcwd().replace('SZ', 'dpa'))
import identify_ger 
import fuzzy_duplicates_test_all_dpa
import fuzzy_duplicates_dpa # import a function that outputs the indices of fuzzy duplicates 
import numeric_articles

In [2]:
NUM_CORE = mp.cpu_count()-8 # set the number of cores to use

print("The number of cores that will be used: {}".format(NUM_CORE))

The number of cores that will be used: 56

# Süddeutsche Zeitung (SZ) data

*Süddeutsche Zeitung* is a renowned German daily newspaper with a strong focus on both politics and economy in its national edition. In the first quarter of 2021, the newspaper had a circulation of 304,769 daily copies, as reported by the IVW (Informationsgemeinschaft zur Feststellung der Verbreitung von Werbeträgern), a German organization responsible for assessing media circulation. Due to its comprehensive coverage of economic topics, the Süddeutsche Zeitung is particularly valuable for economic forecasting.

We acquired the SZ dataset from Genios, a reputable German provider of business information. The dataset comprises **2,034,968** articles published between January 1994 and November 2018. The data acquisition took place in February 2019.

The dataset is organized into three primary folders: 'Sueddeutsche', 'Sueddetusche_historisch', and 'Sueddeutsche_regional'. For our research project, which aims to forecast economic variables using newspaper data, we decided to focus on the first two folders, as regional data is considered less relevant to our objectives. The 'Sueddeutsche_historisch' folder holds 11 subfolders for the years 1994 to 2004, such as SZH_1994, while the 'Sueddeutsche' folder contains 14 subfolders for each year between 2005 and 2018, like SZ_2005. In total, there are 25 subfolders, one for each year. Each subfolder contains several XML files, from which we extract relevant information for our project. Regrettably, due to copyright restrictions, we are unable to publish the data.

## Load the data

First, we need to read in the data. We create the list including the names of the 25 subfolders (`folder_list`) and apply the function `sz_load` to them in parallel by exploiting Python's `multiprocessing` library.

We extract the following XML elements:

* datum - publication date
* ressort - section/subsection of the newspaper
* quelle/name - description of the source, useful for filtering out regional articles
* titel-liste/titel - article's title
* titel-liste/dachzeile - article's kicker
* titel-liste/untertitel - article's subheading
* inhalt/vorspann - annotation
* inhalt/text - text of the article

In [3]:
# 'SZ' is the main folder with 3 subfolders ('Sueddeutsche', 'Sueddetusche_historisch', and 'Sueddeutsche_regional') in it
#path = 'G:\\Userhome Mariia\\SZ' # your path here
path = os.getcwd().replace('\\newspaper_data_processing\\SZ', '') + '\\SZ'

# Create the list of all subfolders within SZ main folder.
folder_list=[]

for fol in [fol for fol in os.listdir(path)[:2] ]: # 3 folders: SZ, SZ_historisch, SZ_regional (we use the first two)
    # os.listdir(path) - names of directories
    for f in [f for f in os.listdir(path + '\\' + fol) ]:  # within each folder: folders for different years                                          
        folder_list.append(path + '\\' + fol + '\\' + f)

In [4]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    data_intermediate = pool.map(sz_load.sz_load, folder_list) # load data from each folder in parallel
    data = pd.concat(data_intermediate) # concatenate DataFrames from different folders
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:02:34.441543

In [5]:
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data = data.reset_index() # reset the index of the DataFrame
del data['index'] # delete a column with an old index

In [6]:
data[10:15]

,year,month,day,newspaper,newspaper_2,texts,rubrics,title,quelle_texts,page
10,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,Kein Automatismus bei den Miet-Zusatzkosten Wa...,IMMOBILIEN,Kein Automatismus bei den Miet-Zusatzkosten Wa...,SZ NR. 001 VOM 03.01.1994 SEITE 271,
11,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,STUETZE DER KONJUNKTUR: Waehrend viele Wirtsch...,IMMOBILIEN,STUETZE DER KONJUNKTUR:,SZ NR. 001 VOM 03.01.1994 SEITE 271,
12,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,In Berlin/Brandenburg: Bau wartet auf den Boom...,IMMOBILIEN,In Berlin/Brandenburg: Bau wartet auf den Boom.,SZ NR. 001 VOM 03.01.1994 SEITE 271,
13,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,Bueromarkt Berlin Die Preise kommen den Mieter...,IMMOBILIEN,Bueromarkt Berlin Die Preise kommen den Mieter...,SZ NR. 001 VOM 03.01.1994 SEITE 271,
14,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,"Maureen; irische Geschichten. 36 Pubbesitzer, ...",Roman,Maureen; irische Geschichten.,SZ NR. 001 VOM 03.01.1994 SEITE 400,

In [7]:
# the number of article before pre-processing
len(data)

2034968

## Light pre-processing

### Remove short articles (<100 words)

The `count_words_mp` function is used to count the number of words in a text. This function only counts words and excludes numbers from the analysis. It takes into consideration Latin letters with any diacritics, such as umlauts. The function removes specific punctuation marks and non-alphabetic characters before counting the words, ensuring that the final count is accurate and relevant for sentiment analysis and topic modeling.

In [8]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:41.796058

In [9]:
# Save the result as a new column "word_count"
data['word_count'] = count_results

Shorter texts often lack sufficient semantic information, making it challenging for topic models and bag-of-words-based sentiment analysis tools to perform effectively. As a result, we focus on texts with more than 100 words to ensure better performance.

In [10]:
# remove articles with the number of words<100
data = data[data['word_count']>=100]
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [11]:
# the number of articles after removing short articles
len(data)

1516777

### Remove exact duplicates

Removing duplicates is crucial because they do not contribute any new information and only introduce noise into the analysis.

In [12]:
# All the duplicated articles are saved as 'sz_duplicates' for further exploration.
sz_duplicates = data[data['texts'].duplicated(keep = False)]

In our corpus, there are two main types of duplicates:

1. The same article appears twice, published on different pages because SZ is a regional newspaper, and an identical article can be published on various pages for different regions, such as page 27 in Munich and page 28 in Ebersberg.

In [13]:
sz_duplicates.loc[[51,96]]

,year,month,day,newspaper,newspaper_2,texts,rubrics,title,quelle_texts,page,word_count
51,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,Bittere Klage des OB an Finanzminister Waigel ...,Muenchen,Bittere Klage des OB an Finanzminister Waigel ...,SZ NR. 001 VOM 03.01.1994 SEITE f28,,236
96,1994,1,3,- Süddeutsche Zeitung (1994 - 2004),SZ,Bittere Klage des OB an Finanzminister Waigel ...,Muenchen,Bittere Klage des OB an Finanzminister Waigel ...,SZ NR. 001 VOM 03.01.1994 SEITE b33,,236

2. The same article is included in the corpus with different publication dates (e.g., 12.10.2018 and 13.10.2018). In such cases, a sensible approach is to retain the first entry.

In [14]:
sz_duplicates.loc[[1510995,1511135]]

,year,month,day,newspaper,newspaper_2,texts,rubrics,title,quelle_texts,page,word_count
1510995,2018,10,12,Süddeutsche Zeitung,SZ,Impressum. HERAUSGEGEBEN VOM SÜDDEUTSCHEN VERL...,Ressort: Meinungsseite Rubrik: Impressum,Impressum.,"Süddeutsche Zeitung, 12.10.2018, Ausgabe Münch...",4,246
1511135,2018,10,13,Süddeutsche Zeitung,SZ,Impressum. HERAUSGEGEBEN VOM SÜDDEUTSCHEN VERL...,Ressort: Meinungsseite Rubrik: Impressum,Impressum.,"Süddeutsche Zeitung, 13.10.2018, Ausgabe Münch...",4,246

In [15]:
# drop the exact duplicates, keep the article with the earlier publication date ('first')
data.drop_duplicates(['texts'], keep = 'first', inplace=True)
data.reset_index(inplace=True, drop=True)

In [16]:
# the number of articles after removing exact duplicates
len(data)

1499007

## Filtering

### Section

As SZ is a general newspaper, it contains numerous sections that may not be relevant for economic forecasting. To address this, we have manually examined each section of the newspaper by reviewing a sample of articles from every section. Using our professional expertise, we have identified and chosen the sections that are most likely to be relevant for economic forecasting, focusing on recent events rather than historical topics.

The sections we retain, which we refer to as 'priority 1' due to their high relevance for economic forecasting, include 'Politik' (Politics), 'Börse und Finanzen' (Stock Market and Finance), 'Geld' (Money), 'Meinungsseite' (Opinion), 'Nachrichten' (News) - which served as a substitute for the 'Politik' section between 1999 and 2003, 'Seite vier' (Page Four), and 'Wirtschaft' (Economy). Among these sections, 'Politik', 'Meinungsseite', 'Nachrichten', and 'Seite vier' focus on politics, while 'Börse und Finanzen', 'Geld', and 'Wirtschaft' cover economic topics.

Other sections which might be potentially interesting include 'Dokument', 'Themen', 'Themen des Tages', 'Themen aus Deutschland', 'Themen aus dem Ausland' (all related to politics), and 'Immobilien' (real estate news connected to economic development). However, we leave out these 'priority 2' articles and only concentrate on 'priority 1' articles mentioned earlier, as 'priority 2' articles often have a different format (they are frequently longer) and are less focused on current events.

We exclude numerous other sections, such as local news ('München'), advertisements ('Anzeiger'), entertainment news ('Freizeit', 'Hobby', 'Reise', etc.), and letters from readers ('Briefe an die SZ'/'Leserbriefe').

In our analysis, we further narrow down the selection by excluding specific subsections from the preserved sections. Examples of these excluded subsections include 'Inhaltsverzeichnis' (Contents), 'Akt. Lexikon' (explanation of important terms), 'Anzeige' (advertisements), and 'Impressum' (contact information, such as names of journalists, their telephone numbers, addresses of editorial offices in different cities, etc.).

In [17]:
# this function loads dictionaries with subsections of the newspaper we are going to analyze
def dictionary_open(name):
    with codecs.open(os.path.join(os.getcwd(), name),
               'r',  'utf-8') as f:
          dictionary = set(f.read().splitlines()[1:-1])
    return dictionary

In [18]:
# Each of the dictionaries contains subsections from the sections 'Politics', 'Stock market and Finance', 'Money', 'Opinion', 
# 'News', 'Page four', and 'Economy'.

politics_s = dictionary_open('politics.txt')
boerse_s = dictionary_open('boerse.txt')
geld_s = dictionary_open('geld.txt')
meinung_s = dictionary_open('meinung.txt')
nachrichten_s = dictionary_open('nachrichten.txt')
vier_s = dictionary_open('vier.txt')
wirtschaft_s = dictionary_open('wirtschaft.txt')

In [19]:
# Create a column with the corresponding section based on subsections from the XML files.
data['section'] = u'Other'
data.loc[(np.isin(data['rubrics'].values, list(politics_s))),'section'] = u'Politik'
data.loc[(np.isin(data['rubrics'].values, list(boerse_s))),'section'] = u'Börse und Finanzen'
data.loc[(np.isin(data['rubrics'].values, list(geld_s))),'section'] = u'Geld'
data.loc[(np.isin(data['rubrics'].values, list(meinung_s))),'section'] = u'Meinungsseite'
data.loc[(np.isin(data['rubrics'].values, list(nachrichten_s))),'section'] = u'Nachrichten'
data.loc[(np.isin(data['rubrics'].values, list(vier_s))),'section'] = u'Seite vier'
data.loc[(np.isin(data['rubrics'].values, list(wirtschaft_s))),'section'] = u'Wirtschaft'

In [20]:
# Create a column "priority1" (these are the most important sections) with two global sections 
# Economy and Politics.
Economy = [u'Börse und Finanzen', u'Geld', u'Wirtschaft']
Politics = [u'Politik', u'Nachrichten', u'Seite vier', u'Meinungsseite']

data['priority1'] = u'Other'
data.loc[(np.isin(data['section'].values, Politics)),'priority1'] = u'Politics'
data.loc[(np.isin(data['section'].values, Economy)),'priority1'] = u'Economy'

In [21]:
# Only keep 'priority 1' articles.
data = data[(data['priority1']==u'Politics') | (data['priority1']==u'Economy')]

In [22]:
# the number of articles after removing irrelevant sections
data.reset_index(inplace=True, drop=True)
len(data)

561294

### Text

Exclude articles that contain the following strings:

* Hultschiner Straße 8, 81677 München: contact details of SZ;
* Bayerische Warenbörse/Bayerische Warenboerse: Bavarian commodity exchange (prices for different commodities, no narrative);
* Südbayerischer Schweinemarkt/Suedbayerischer Schweinemarkt: pig market, prices;
* Münchner Schlachtviehmarkt/Muenchner Schlachtviehmarkt: slaughter cattle market, prices;
* Notierungen der Butter- und Käsebörse/Notierungen der Butter- und Kaeseboerse/Butter- und Kaeseboerse/Butter- und Käsebörse: market of butter and cheese, prices;
* Abonnement: : details about the subscription cost;
* MARKTDATEN VOM TAGE: quantitative information on stock market prices, interest rates;
* bat Studiotheater/Theater Arena/Theater Akademie/Theater Deutsches Theater/Theater Ballhaus Naunynstrasse: a detailed list of various cultural events;
* Herausgegeben vom Sueddeutschen Verlag/Herausgegeben vom Süddeutschen Verlag: a list of staff members;
* Das Publikum im Kleinen Haus: theater news;
* Konkurse\, Vergleich und Gesamtvollstreckungsverfahren: list of companies that have filed for bankruptcy or insolvency;
* AUS DEM INHALT/S Z AM WO C H E N E N D E/SZ AM WOCHENENDE/SIE LESEN HEUTE/Aus dem Inhalt Franjo Kiseljak: contents;
* ^Was diese Woche bringt: lists of upcoming events, meetings, and announcements related to various topics. The articles starting with "Was diese Woche bringt" cover a wide range of subjects, making it difficult to categorize or analyze them effectively.;
* Die größten Unternehmen. Rang/Die globalen Top 50: list of the largest German companies.

In [23]:
text_strings = ['Hultschiner Straße 8\, 81677 München', 'Bayerische Warenbörse', 
                'Bayerische Warenboerse', 'Südbayerischer Schweinemarkt', 'Suedbayerischer Schweinemarkt',
               'Münchner Schlachtviehmarkt', 'Muenchner Schlachtviehmarkt', 'Notierungen der Butter- und Käsebörse',
               'Notierungen der Butter- und Kaeseboerse', 'Butter- und Kaeseboerse', 'Butter- und Käsebörse', 
                'Abonnement\:', 'MARKTDATEN VOM TAGE', 'bat Studiotheater', 'Theater Arena', 
                'Herausgegeben vom Sueddeutschen Verlag', 'Herausgegeben vom Süddeutschen Verlag', 'Theater Akademie',
               'Theater Deutsches Theater', 'Theater Ballhaus Naunynstrasse', 'Das Publikum im Kleinen Haus',
               'Konkurse\, Vergleich und Gesamtvollstreckungsverfahren', 'AUS DEM INHALT', 'S Z AM WO C H E N E N D E',
               'SZ AM WOCHENENDE', 'SIE LESEN HEUTE', 'Aus dem Inhalt Franjo Kiseljak', '^Was diese Woche bringt',
               'Die größten Unternehmen\. Rang', 'Die globalen Top 50']
data = data[~(data.texts.str.contains('|'.join(text_strings)))]
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [24]:
# the number of articles after excluding articles based on the text patterns
len(data)

559488

### Title

Exclude articles with the following titles:

* HEUTE IN DER SZ./HEUTE IN DER SZ /.: contents;
* Konkurse, Vergleiche und Gesamtvollstreckungsverfahren./Konkurse, Vergleiche und Gesamtvollstreckungen./Konkurse, Vergleiche und Zwangsvollstreckungsverfahren./Konkurse, Vergleiche und Zwangsvollstreckungen.: list of companies that have filed for bankruptcy or insolvency;
* INHALT.: contents;
* Gewinnzahlen./Gewinnquoten./GEWINNZAHLEN./GEWINNQUOTEN./FINANZEN. Gewinnquoten./UNTERNEHMEN. Gewinnquoten./KURZ GEMELDET. Gewinnquoten./POLITIK UND MARKT. Gewinnquoten./POLITIK UND MARKT. Gewinnzahlen./KURZ GEMELDET. Gewinnzahlen./UNTERNEHMEN. Gewinnzahlen.: winning numbers and prizes for various German lotteries;
* Außerdem in dieser Ausgabe.: contents;
* Kinoprogramm.: movie schedule;
* Terminkalender.: a schedule of various local events;
* Notdienste.: a list of emergency and helpline contacts;
* SIE LESEN HEUTE IN DER SZ./SI E LE S E N H EUTE.: contents;
* 'Gipfelstürmer.': a description of a competition called "Gipfelstürmer", every article titled 'Gipfelstürmer.' contains identical text.

In [25]:
titles_to_exclude = [
    'HEUTE IN DER SZ.', 'Konkurse, Vergleiche und Gesamtvollstreckungsverfahren.',
    'INHALT.', 'Gewinnzahlen.', 'Gewinnquoten.', 'GEWINNZAHLEN.',
    'Außerdem in dieser Ausgabe.', 'Kinoprogramm.', 'Terminkalender.', 'GEWINNQUOTEN.',
    'Notdienste.', 'FINANZEN. Gewinnquoten.', 'Konkurse, Vergleiche und Gesamtvollstreckungen.',
    'SIE LESEN HEUTE IN DER SZ.', 'UNTERNEHMEN. Gewinnquoten.', 'KURZ GEMELDET. Gewinnquoten.', 
    'POLITIK UND MARKT. Gewinnquoten.', 'SI E LE S E N H EUTE.', 'POLITIK UND MARKT. Gewinnzahlen.',
    'KURZ GEMELDET. Gewinnzahlen.', 'UNTERNEHMEN. Gewinnzahlen.', 'HEUTE IN DER SZ /.', 
    'Konkurse, Vergleiche und Zwangsvollstreckungsverfahren.', 'Konkurse, Vergleiche und Zwangsvollstreckungen.',
    'Gipfelstürmer.'
]

data = data[~data['title'].isin(titles_to_exclude)]
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [26]:
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame
# the number of articles after excluding articles based on the title
len(data)

557097

In [27]:
counter=collections.Counter(data['year'])
print(counter)

Counter({1999: 27928, 1994: 25990, 2000: 25904, 1995: 25712, 1996: 24801, 1997: 24766, 2001: 24733, 1998: 24690, 2008: 24457, 2010: 23498, 2009: 22863, 2006: 22702, 2011: 22673, 2005: 22456, 2007: 22063, 2003: 21940, 2004: 21911, 2012: 21220, 2002: 20874, 2013: 19314, 2014: 18242, 2016: 17922, 2017: 17550, 2015: 17473, 2018: 15415})

## Umlauts

In the given dataset, some texts contain incorrect umlaut encodings, such as '&auml;', '&uuml;', '&ouml;', '&Auml;', '&Uuml;', and '&Ouml;'. These encodings are typically used in HTML documents to represent umlaut characters like 'ä', 'ü', 'ö', 'Ä', 'Ü', and 'Ö'. However, in this case, the encodings are not being interpreted correctly, leading to broken umlauts in the text.

To fix this issue, we use the function `umlauts_correct_sz` that replaces these incorrect umlaut encodings with the correct umlaut characters.

In [28]:
# Define a list of incorrect umlaut encodings
incorrect_umlauts = ["&auml;", "&uuml;", "&ouml;", "&Auml;", "&Uuml;", "&Ouml;"]

pattern = "|".join(incorrect_umlauts)
sz_uml_encoding = data[data.texts.str.contains(pattern)]

sz_uml_encoding.iloc[1]['texts']

'Mühl Product & Service kauft Aktien zur&uuml;ck. Kranichfeld (Reuters) - Der am Neuen Markt gelistete Baudienstleister Mühl Product & Service beginnt mit dem R&uuml;ckkauf eigener Aktien. Ab sofort sollen bis zu drei Prozent der eigenen Anteilsscheine &uuml;ber die B&ouml;rse erworben werden, wie die Th&uuml;ringer Gesellschaft am Freitag mitteilte. Die Erm&auml;chtigung der Hauptversammlung sehe vor, dass bis zum 15. Dezember 2001 bis zu zehn Prozent des derzeitigen Grundkapitals der Gesellschaft &uuml;ber die B&ouml;rse oder im Rahmen eines &ouml;ffentlichen Kaufangebots erworben werden k&ouml;nnten. Der Aktienr&uuml;ckkauf sei auch in Teilen m&ouml;glich. Der Kaufpreis je Aktie darf den Angaben zufolge den durchschnittlichen Schlusskurs an den f&uuml;nf B&ouml;rsentagen vor Erwerb der Anteilsscheine um nicht mehr als zehn Prozent unter- oder &uuml;berschreiten. Im Falle eines &ouml;ffentlichen Kaufangebotes d&uuml;rfe der Kaufpreis je Aktie den durchschnittlichen Schlusskurs des achten bis vierten Handelstages vor Ver&ouml;ffentlichung des Kaufangebots um nicht mehr als 15 Prozent &uuml;ber- oder unterschreiten, hieß es.'

In [29]:
startTime = datetime.now() # track time

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    texts_corrected = pool.map(umlauts_correct_sz.umlauts_correct_sz, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:11.447588

In [30]:
data['texts'] = texts_corrected

The second problem with umlauts in the early texts (published before 1995) is that they are replaced with digraphs like 'ae' for 'ä', 'oe' for 'ö', 'ue' for 'ü', 'ss' for 'ß', 'AE' for 'Ä', 'OE' for 'Ö', and 'UE' for 'Ü'. This discrepancy can lead to an increased vocabulary size and potential ambiguity in word representation. To fix the issue with umlauts, we use the notebook `Umlauts_fix` written in Python 2.

In [31]:
umlauts = ['ä', 'ö', 'ü', 'ß', 'Ä', 'Ö', 'Ü']
umlauts_replace = ['ae', 'oe', 'ue', 'ss', 'AE', 'OE', 'UE']

In [32]:
sz_umlauts_fix = data[(data.texts.str.contains('|'.join(umlauts_replace))) & (~data.texts.str.contains('|'.join(umlauts))) & (data.year<1995)]

In [33]:
# example of the text that we try to fix with a spellchecker
sz_umlauts_fix.texts[0]

'Trotz aller Friedensappelle in Suedafrika Terrorwelle zur Jahreswende. Mord an Pub-Besuchern in Kapstadt gibt Raetsel auf. Kapstadt (AP/Reuter/AFP) - Trotz aller Friedensappelle hat das neue Jahr in Suedafrika mit blutigen Gewalttaten begonnen. Fuenf maskierte Schwarze toeteten in der Silvesternacht in einem Pub in Kapstadt vier Weisse. In Johannesburg wurden zwei Polizisten erschossen. In den Schwarzensiedlungen Tokoza und Katlehong oestlich von Johannesburg entdeckte die Polizei die Leichen von fuenf Maennern und einer Frau. Die meisten der Opfer seien erschossen worden, erklaerte die Polizei. Bei einem weiteren Zwischenfall in der Naehe der Hafenstadt Durban seien bei der von ethnischen Indern bewohnten Vorstadt Chatsworth drei Menschen getoetet und zwei weitere verletzt worden. Ebenfalls in Durban wurden nach einem Fernsehbericht bei einem Streit an dem vielbesuchten Strand Brighton Beach ein Mann erschossen und ein weiterer durch einen Messerstich verletzt. Die Hintergruende des UEberfalls auf den Pub in einer Weissensiedlung Kapstadts sind zunaechst ungeklaert. Bewaffnete Schwarze waren an Silvester in das ueberwiegend von Weissen besuchte Lokal eingedrungen und hatten um sich geschossen. Namens zweier militanter Schwarzenorganisationen gingen Bekenneranrufe ein. Die Polizei teilte mit, bei dem UEberfall seien Waffen von der Art verwendet worden, wie sie bei den Streitkraeften benutzt werden. Sie loeste damit Spekulationen aus, die Moerder koennten von weissen Extremisten gedungen sein. Zum Zeitpunkt des UEberfalls hielten sich noch zwischen 20 und 50 Personen in dem Lokal Heidelberg auf. Nach Augenzeugenberichten schossen die Angreifer mit automatischen Waffen wild um sich. Drei weisse Frauen waren nach Angaben der Polizei auf der Stelle tot. Das vierte Todesopfer war ein Mann, der von den Taetern auf der Flucht erschossen wurde. Der Fluchtwagen wurde spaeter in der Schwarzenwohnstadt Guguletu, einer Hochburg des Panafrikanistischen Kongresses (PAC), gefunden. Zu der Bluttat bekannte sich ein Anrufer bei der suedafrikanischen Nachrichtenagentur SAPA im Namen der militanten schwarzen Gruppierung Azanische Volksbefreiungsarmee (APLA), die der militaerische Fluegel des PAC ist. Der Anrufer kuendigte weitere Anschlaege vor den ersten allgemeinen Wahlen am 27. April an. Spaeter ging bei SAPA ein weiterer Anruf ein, in dem der Anrufer im Namen der militanten Schwarzenorganisation Azanische Nationale Befreiungsarmee (AZANLA) die Verantwortung fuer den Anschlag auf das Lokal uebernahm. Die AZANLA bekannte sich bereits zu drei kleineren Bombenanschlaegen in dieser Woche in der Hafenstadt Port Elizabeth. Die Polizei setzte inzwischen eine Belohnung in Hoehe von 200 000 Rand (rund 100 000 Mark) fuer Hinweise aus, die zur Ergreifung der Taeter fuehren. (Seite 4)'

In [34]:
sz_umlauts_fix.to_csv('sz_umlauts_fix.csv', encoding='utf-8-sig', sep = ';')

In [35]:
sz_umlauts_fixed = pd.read_csv('sz_umlauts_fixed.csv', encoding = 'utf-8', sep=';')

In [36]:
data.loc[sz_umlauts_fixed['Unnamed: 0.1'], 'texts'] = sz_umlauts_fixed.texts.values

In [37]:
# fixed version
data.texts[0]

'Trotz aller Friedensappelle in Südafrika Terrorwelle zur Jahreswende. Mord an Pub - Besuchern in Kapstadt gibt Rätsel auf. Kapstadt (AP / Reuter / AFP) - Trotz aller Friedensappelle hat das neue Jahr in Südafrika mit blutigen Gewalttaten begonnen. Fünf maskierte Schwarze töteten in der Silvesternacht in einem Pub in Kapstadt vier Weiße. In Johannesburg wurden zwei Polizisten erschossen. In den Schwarzensiedlungen Tokoza und Katlehong östlich von Johannesburg entdeckte die Polizei die Leichen von fünf Männern und einer Frau. Die meisten der Opfer seien erschossen worden, erklärte die Polizei. Bei einem weiteren Zwischenfall in der Nähe der Hafenstadt Durban seien bei der von ethnischen Indern bewohnten Vorstadt Chatsworth drei Menschen getötet und zwei weitere verletzt worden. Ebenfalls in Durban wurden nach einem Fernsehbericht bei einem Streit an dem vielbesuchten Strand Brighton Beach ein Mann erschossen und ein weiterer durch einen Messerstich verletzt. Die Hintergründe des Überfalls auf den Pub in einer Weissensiedlung Kapstadts sind zunächst ungeklärt. Bewaffnete Schwarze waren an Silvester in das überwiegend von Weißen besuchte Lokal eingedrungen und hatten um sich geschossen. Namens zweier militanter Schwarzenorganisationen gingen Bekenneranrufe ein. Die Polizei teilte mit, bei dem Überfall seien Waffen von der Art verwendet worden, wie sie bei den Streitkräften benutzt werden. Sie löste damit Spekulationen aus, die Mörder könnten von weißen Extremisten gedungen sein. Zum Zeitpunkt des Überfalls hielten sich noch zwischen 20 und 50 Personen in dem Lokal Heidelberg auf. Nach Augenzeugenberichten schossen die Angreifer mit automatischen Waffen wild um sich. Drei weiße Frauen waren nach Angaben der Polizei auf der Stelle tot. Das vierte Todesopfer war ein Mann, der von den Tätern auf der Flucht erschossen wurde. Der Fluchtwagen wurde später in der Schwarzenwohnstadt Guguletu, einer Hochburg des Panafrikanistischen Kongresses (PAC), gefunden. Zu der Bluttat bekannte sich ein Anrufer bei der südafrikanischen Nachrichtenagentur SAPA im Namen der militanten schwarzen Gruppierung Azanische Volksbefreiungsarmee (APLA), die der militärische Flügel des PAC ist. Der Anrufer kündigte weitere Anschläge vor den ersten allgemeinen Wahlen am 27. April an. Später ging bei SAPA ein weiterer Anruf ein, in dem der Anrufer im Namen der militanten Schwarzenorganisation Azanische Nationale Befreiungsarmee (AZANLA) die Verantwortung für den Anschlag auf das Lokal übernahm. Die AZANLA bekannte sich bereits zu drei kleineren Bombenanschlägen in dieser Woche in der Hafenstadt Port Elizabeth. Die Polizei setzte inzwischen eine Belohnung in Höhe von 200 000 Rand (rund 100 000 Mark) für Hinweise aus, die zur Ergreifung der Täter führen. (Seite 4)'

## Identify and Delete non-German Articles

Next, we filter out articles written in any language other than German using a **langdetect** library.

We remove the following types of articles:

1) texts predominantly comprising English names of individuals, states, and organizations

In [38]:
data.iloc[122092]['texts']

"Gewählte Gouverneure in 36 Bundesstaaten Alabama (AL): Donald Siegelman (Dem) Alaska (AK): Tony Knowles (Dem) Arizona (AZ): Jane Dee Hull (Rep) Arkansas (AR): Mike Huckabee (Rep) Colorado (CO): Bill Owens (Rep) Connecticut (CT): John Rowland (Rep) Florida (FL): John Ellis 'Jeb' Bush (Rep) Georgia (GA): Roy Barne (Dem) Hawaii(HI): Ben Cayetano (Dem) Idaho (ID): Dirk Kempthorne (Rep) Illinois (IL): George Ryan (Rep) Iowa (IA): Tom Vilsack (Dem) Kalifornien (CA): Gray Davis (Dem) Kansas (KS): Bill Graves (Rep) Maine (ME): Angus King (unabh.) Maryland (MD): Parris Glendening (Dem) Massachusetts (MA): Paul Cellucci (Rep) Michigan (MI): John Engler (Rep) Minnesota (MN): Jesse Ventura (unabh.) Nebraska (NE): Mike Johanns (Rep) Nevada (NV): Kenny Guinn (Rep) New Hampshire (NH): Jeanne Shaheen (Dem) New Mexiko (NM): Gary Johnson (Rep) New York (NY): George Pataki (Rep) Ohio (OH): Bob Taft (Rep) Oklahoma (OK): Frank Keating (Rep) Oregon (OR): John Kitzhaber (Dem) Pennsylvania (PA): Thomas Ridge (Rep) Rhode Island (RI): Lincoln Almond (Rep) South Carolina (SC): Jim Hodges (Dem) South Dakota (SD): William Janklow (Rep) Tennessee (TN): Don Sundquist (Rep) Texas (TX): George W. Bush (Rep) Vermont (VT): Howard Dean (Dem) Wisconsin (WI): Tommy Thompson (Rep) Wyoming (WY): Jim Geringer (Rep)"

2) texts including informal language, slang, and interjections

In [39]:
data.iloc[167241]['texts']

'Das Streiflicht. (SZ) Ja. Ja! Jaaaaaaa!!! Ja, Franz. Jaaaaaaaa. Ja. Ja. Ja. Jajaja-ja, jajaja-ja! Ja! Jaaaaaaaaaaaaaaaaaaaaa - jahaha. O ja, Franz. Jaaaa! Jaaaa! Jaaaa! Jaaaa! Ja!! Ja, ja, ja, ja, ja. Ehhh-ja!! Ja, logo. Jaaaaaaa! Jaaa. Jaaa. Hahaaaaaa! Jawollja. Jaaaaaaaa!! Mensch, Franz, oide Fischhaut! Jaaaaaaaa. Ja! Ja! Ja! Jaaaaaa! Jajajajajaja. Jaaaa. Hahaaaa: Zürich. Züri brännt, jaha. Jaaaa. End se winner is? Franz! Se Kaiser! Kaiser Fränz se Bayer or se först. Senks! Senks, Franzl, old Giesing Gwachs! Ja, ja, jaaaaa, ja. Jaaaaaaaaaaaaa! Jaaaaaaaaaaaaaaa!! Ja. Ja. Jaaaaaa! Mhhhja. "Ja! Ja! Ja!" (Bild) bzw. "Jaaa!" (tz). Jaaaaaaaaa. Jaaaaaaaaa. Jaja. Ja. Ja. Ja. Tjaja. Yes. Si. Da. Oui. Wuiwui, Franz. Jaaa. Jaaaaaaaa. Ja. Ja? Jaaaaaaa??? Hm. Tja. Naja. Blatter. Netzer. Völler. Becker. Schiffer. Wieso Becker? Hm. Tja. Und wieso Schiffer? Ahhhhhhh ja. Bravo, Claudia! Jaaajaja! Jaaa. Jaaa. Jaaa. Schaumermal. Nnnnnnnnn-ja! Jaja. Jo, doch. Jaaaaa-ha! Oja, o là là! Jajajajajajajajajajaja-jaaaa. 2006, Reschpekt! Jaaaa. Jaaaa. Ja. Jaa. Jajajajajaja: "Deutschland jubelt" (AZ). Jaha! Ja! Ja! Ja! Ja! "Gewaltig", so Schorsch "Weißwurst" Hackl. Jaaaa. Kinkel the Pinkel: "Ein Golden Goal." Ja, ja, und tausendmal ja. Jaaaaa! Jaaaa. Jaaa. Jaa. Ja. J. a. J-a. Die Grammatik des Spiels, die Lesbarkeit des Balls. Jaaahaa. Das Genom Ball. Hoho und haha! CAAAAC GTATAA TCCTTG AATGGT: Der Ball ist viereckig. Boah ey. Jaaaaa! Ja, ja, ja, ja, ja, ja. JA! Jaaaaaaaa. Franz. Frantz. Fratz. Uiuiui! Kaiser. Daradda-rombombombom-baadaram! Franz I. der Kicker, Kaiser der Flanken, Beherrscher so der Rasen wie der Parkette, allezeit Mehrer des DFB. Jaaaaa. Jaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!!!!!! Ja. Jaa. Jaaa. Danke, Franz. Danke, Schily. Danke, Claudia-Maus. Danke, Joseph "Sepp" Blatttrrrr. Danke, Südafrika. Danke, Fifa-Exekutiv-Komitee. Special thanks to the Right Honorable Charles Dempsey, New Zealand. Jaja, der Dempsey. Jaaaa. Jaaa. Jaaaaaaaaaaaaa!!!! Hip hip Hurra! Es braust ein Dingsbumms wie - egal! Und abermals schaumermal. Jaaaa-hahaa. Ja! Ja! Ja! Sind wieder wer! Dank Franz. Jaaaa. Mein lieber Schwan, da wennsd ma ned gangst! Gangerst, also gingest. Jajajajaja. Jaaaaaaaaaaaa-(schnauf!)-aaaaaaaaaaaaaaaaaaaaaaaaaa. Ja. Franz for president. Why not? Darauf ein dreifach "Schaumermal-nasehngmascho!" Jaaaaa. Jaaaaa. Ärmel hochkrempeln, sagt Daum. Jaja. Die alten Wurzeln von Franz Beckenbauer, sagt TV-Lady Schürmann. O ja, weiß der Geier: die alten Wurzeln! Ja. Jaaaaaa. Jahahaha. Wurzelfranz, der Winner und Bringer und Macher und Einfädler. Au ja! Und dabei so bescheiden, du glaubst es nicht. Mann, o Mann! Ja! Jaa! Jaaa! Jaaaa! Jaaaaa!! Du meine Güte: 2006, WM in Deutschland. Fußball satt, bis zum Abwinken. Kriegt der Kicker auf den Ranzen, ruft um Hülf er zu Sankt Franzen. Amen. Ja.'

3) tables without any supporting text

In [40]:
data.iloc[179911]['texts']

'29. 12. 00 2)Veränd. gegen Emissionspr.Veränd. geg. ErstnotizUpdate. com 11.4.NM 3)23,0024,0040,001,851,51-93,43%-93,71%Intraware Software12.5.NM28,0029,0034,902,002,50-91,07%-91,38%Mediascape Comm.22.5.NM47,0045,0047,503,804,40-90,64%-90,22%Comtelco7.2.GM 4)18,0023,0028,901,201,89-89,50%-91,78%Ad Pepper Media9.10.NM17,0017,5018,102,102,22-86,94%-87,31%Travel24.com13.3.NM29,0032,0032,003,054,30-85,17%-86,56%Openshop Holding21.3.NM54,00106,00130,007,808,30-84,63%-92,17%Arbo Media.net9.5.NM43,0053,0056,006,607,10-83,49%-86,60%Lycos Europe22.3.NM24,0024,0024,003,404,10-82,92%-82,92%Matchnet27.6.NM7,506,506,801,401,30-82,67%-80,00%Valor Computerized Syst.15.5.NM12,0014,3015,701,962,13-82,25%-85,10%d + s online23.5.NM25,0025,0025,404,104,50-82,00%-82,00%Alphaform28.6.NM17,0016,0016,702,253,40-80,00%-78,75%Advanced Vision Techn.28.2.NM14,0026,0029,002,002,85-79,64%-89,04%Adlink Internet Media11.5.NM17,0016,2020,953,253,50-79,41%-78,40%Softing16.5.NM14,5016,0031,502,853,07-78,83%-80,81%Carrier 124.2.NM87,00135,00174,0015,0019,00-78,16%-85,93%PlasmaSelect1.3.NM45,00120,00179,009,0010,00-77,78%-91,67%aeco25.7.NM14,0016,0019,202,653,20-77,14%-80,00%Adori10.5.NM13,5013,5014,003,203,10-77,04%-77,04%Concept27.3.NM49,0056,0074,0010,0011,50-76,53%-79,46%United Visions Entert.20.6.NM24,0028,0029,805,005,65-76,46%-79,82%Trius9.3.NM36,5036,5052,008,508,90-75,62%-75,62%Focus Digital13.7.NM14,5012,0014,403,403,75-74,14%-68,75%Allgeier Systems11.7.NM22,5021,0027,504,005,90-73,78%-71,90%Pro-DV Software22.3.NM23,0022,0025,505,556,15-73,26%-72,05%DCI Database13.3.NM32,0065,00101,006,008,60-73,13%-86,77%Ifco6.3.AH 5)15,5036,0038,003,154,25-72,58%-88,19%Nexus24.7.NM10,009,009,802,252,80-72,00%-68,89%Web.de17.2.NM26,0065,0078,007,007,50-71,15%-88,46%Orbis25.9.NM14,0012,5012,803,504,20-70,00%-66,40%Cycos18.4.NM19,0032,5039,005,505,70-70,00%-82,46%Net17.3.NM14,0037,0039,004,104,20-70,00%-88,65%QS Communications19.4.NM13,0019,0021,302,853,98-69,38%-79,05%Eichborn Verlag9.5.SM 6)12,0013,3514,403,303,70-69,17%-72,28%1) Reihenfolge nach Kursveränderung im Vergleich zum Emissionspreis; 2) in Euro; 3) Neuer Markt; 4) geregelter Markt; 5) amtlicher Handel; 6) Smax (Qualitätssegment des geregelten Marktes) Quellen: Reuters; eigene Berechnungen'

In [41]:
# Delete all non-German articles from the data  
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    ger_results = pool.map(identify_ger.identify_ger, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:15:47.300177

In [42]:
data['language'] = ger_results
# the number of non-German articles
print(len(data[data.language == 0]))
# keep articles written in German
data = data[data.language==1]
data.reset_index(inplace=True, drop=True)
# the number of articles after excluding non-German articles
print(len(data))

7
557090

In [43]:
data.to_csv('non_german_delete.csv', encoding = 'utf-8-sig', sep = ';')

In [44]:
data = pd.read_csv('non_german_delete.csv', encoding = 'utf-8-sig', sep=';', index_col = 0, dtype = {'newspaper': 'str',
                                                                                                 'newspaper_2': 'str',
                                                                                                 'quelle_texts': 'str',
                                                                                                 'page': 'str',
                                                                                                 'rubrics': 'str'})
data.page = data.page.fillna('')
data.newspaper = data.newspaper.fillna('')
data.newspaper_2 = data.newspaper_2.fillna('')
data.rubrics = data.rubrics.fillna('')
data.quelle_texts = data.quelle_texts.fillna('')

## Remove URLs

A function called `correct_url_sz` takes a text input and processes it to remove URLs, HTML file references, and email addresses. A set called `exceptions` contains specific URLs that are not removed from the text. Preserving specific URLs, such as 'amazon.de', is crucial for maintaining the context and sentence structure, as removing them could result in loss of important information or topic identification, especially when certain internet companies are known primarily by their website names.

In [45]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    url_corrected = pool.map(correct_url_sz.correct_url_sz, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:40.701737

In [46]:
data['texts'] = url_corrected

## O instead of 0 problem

In some cases, Optical Character Recognition (OCR) can not distinguish between '0' and 'O' ('o'). As a result, there are tokens like '1OO'. Using regular expressions, we identify problematic tokens and replace 'O' ('o') with '0'.

In [47]:
startTime = datetime.now()

import ocr_replace

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    ocr_corrected = pool.map(ocr_replace.ocr_replace, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:12.808099

In [48]:
data['texts'] = ocr_corrected

## Fixing tokens containing a number and a word

We have identified several cases where numbers and words are erroneously merged into a single token. To address this problem of merged tokens, the following code has been implemented.

In [49]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    split_corrected = pool.map(split_number_word.split_number_word, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:17.302124

In [50]:
data['texts'] = split_corrected

## Concatenate chained articles

By the chained articles we mean the news reports that start on one page and continue on another page of the newspaper. Since the news database is prepared using OCR technology, each part of a chained news article represents a separate entry in the database, i.e. a separate news report.

Ideally, all the parts of a chained article must be combined into one news report. However, as nothing in the metadata helps us identify chained articles, the merging process is not straightforward. We do our best to merge at least some chained articles based on the text alone.

The second part of a chained article normally contains one of the following strings: 'Fortsetzung von Seite' (continuantion from page) or 'FORTSEZUNG VON SEITE'. We select the artilces that meet this critetion and try to merge them with their beginnings.

However, we also exclude the articles that contain strings from both lists, `continued_strings_1` and `continued_strings_2`. This is because these chained articles have already been merged by the SZ team.

In [51]:
continued_strings_1 = ['Fortsetzung S\\.', 'Fortsetzung auf Seite', 'Fortsetzung Seite', 'Fortsetzung nächste Seite',
                       'Fortsetzung Seiten', 'FORTSETZUNG S\\.', 'FORTSETZUNG AUF SEITE', 'FORTSETZUNG SEITE', 
                       'FORTSETZUNG NÄCHSTE SEITE', 'FORTSETZUNG SEITEN']
continued_strings_2 = ['Fortsetzung von Seite', 'FORTSETZUNG VON SEITE']

# Articles that contain one of the strings from 'continued_strings_1' and one of the strings from 
# 'continued_strings_2' are examples of chained articles that have already been merged. 
continued_articles = data[(data.texts.str.contains('|'.join(continued_strings_2))) & 
                         (~data.texts.str.contains('|'.join(continued_strings_1)))]
continued_articles = continued_articles.reset_index()

In the SZ data, there are only 17 chained articles that have not been merged. For the sake of completeness and to demonstrate that it is not an issue for this dataset, we try to merge them using the existing function `chained_articles` written for Handelsblatt data.

In [52]:
# There are 17 articles that could potentially be part of the chained articles.
len(continued_articles)

17

An input of the function `chained_articles` is a tuple, where the first element is a row of the dataframe corresponding to the second part of the chained article. The second element of the tuple is a dataframe containing all articles published on the same day as the second part of the chained article, i.e. all articles that could potentially be the first part of the chained article.

In [53]:
# Required input for the function 'chained_articles': a row of the 'continued_articles' df, and a subset of the
# 'data' df corresponding to the articles published on the same day as the considered chained article.

# List with the potentially chained articles
cont_input = []
# List with the dataframes containing articles published on the same day as the considered chained article
data_input = []

# To merge the articles from 'chain_exceptions' with the corresponding first parts, more complicated rules 
# are required than those we use in the funciton 'chained_articles'. Therefore, we list them as exceptions.
chain_exceptions = [15,16]
# An input for the function 'chained_articles'.
for ind in continued_articles.index:
    if ind not in chain_exceptions:
        cont_input.append(continued_articles.iloc[[ind]])
        data_input.append(data[(data.day == continued_articles['day'][ind]) & 
                      (data.month == continued_articles['month'][ind]) &
                     (data.year == continued_articles['year'][ind])])
    
inputs_cont = list(zip(cont_input, data_input))

The function `chained_articles` returns a list with two tuples. The first tuple contains two indices corresponging to the first and second part of a chained article. These two parts must be merged into one article.
    
The second tuple contains two indices as well. The first index corresponds to a part of the chained article that is a duplicate because the merged version of this chained article already exists in the database. The article with this index must be deleted. The second index corresponds to the merged version of the chained article. This article must be kept in the database.

All the rules we use to find the first part of a chained article are described in detail in the function `chained_articles`.

In [54]:
startTime = datetime.now() 

chained_pair = []

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    chained_intermediate = pool.map(chained_articles.chained_articles, inputs_cont)
    chained_pair = chained_pair + chained_intermediate 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:05.895131

In [55]:
# The list of unique tuples, where the first element is a duplicate and 
# the second element is a merged chained article.
duplicates = list(set([sublist[1] for sublist in chained_pair if sublist[1] != (-1, -1)]))
# The list with indices of all the duplicated/merged articles.
dup_merged = [tup[0] for tup in duplicates]+[tup[1] for tup in duplicates]
# The list with all the chained articles that we would like to merge.
chained_pair_list = [sublist[0] for sublist in chained_pair if sublist[0] != ()]
# Exclude duplicated/merged articles from the list of the chained articles.
chained_pair_list = [pair for pair in chained_pair_list if (pair[0] not in dup_merged) and \
                     (pair[1] not in dup_merged)]
# The rules we use allow us to merge 12 chained articles
len(chained_pair_list)

12

In [56]:
# An example of the first part
data['texts'][chained_pair_list[0][0]]

'Die Rede des neuen Staatsoberhaupts Herzog will Präsident aller Deutschen sein. Die Ostdeutschen müssten begreifen, dass Sie für uns keine Last, sondern dass Sie für uns ein Gewinn sind. Berlin (dpa) - Nach seiner Wahl zum Bundespräsidenten sagte Roman Herzog vor der Bundesversammlung in Berlin: Frau Präsidentin, meine Damen und Herren, das ist eine bewegende Stunde für mich. Es ist immer wieder in den letzten Tagen daran erinnert worden, wie die letzte Bundespräsidentenwahl, die hier in Berlin im Reichstag stattgefunden hat, sich im März 1969 abgespielt hat. Vielleicht wissen es viele von Ihnen nicht. In dieser Zeit waren meine Frau und ich Bürger von West - Berlin, und wir haben es miterlebt, wie damals die Regierung der DDR - für einige Stunden wenigstens, aber niemand wusste ja, wie lang das dauern würde -, die Zufahrtswege zu Lande abgesperrt hat. Und wir haben es nie für möglich gehalten, dass eine Stunde wie diese noch einmal zu unseren Lebzeiten möglich sein würde. Es ist ein Wunder, dass wir leben, und wir sind Ihnen allen, ich vor allem, Ihnen allen, denen, die mich jetzt gewählt haben und denen, die mich nicht wählen konnten, herzlich dafür dankbar, dass das möglich geworden ist. Ich sage es bewusst auch an diejenigen, die mir Ihre Stimme aus guten Gründen nicht geben konnten. Ich werde mich bemühen, das Amt so zu führen, dass Sie es am Ende bereuen, mich nicht gewählt zu haben. Lassen Sie mich ein Wort an meine Mitbewerber richten. Wir sind ja über viele Monate viel in unserem Kreis gewesen, wir haben immer wieder untereinander Kontakt gehabt, es war ein gutes Verhältnis. Ich will nicht behaupten, dass ich nicht hätte die Mehrheit bekommen wollen, aber ich hätte sie jedem von den drei anderen gegönnt. Und das ist jetzt keine Attitüde, das meine ich wirklich so. Ich bedanke mich auch für die Art, wie wir in den letzten Monaten miteinander umgehen konnten. Ich glaube schon, das war ein gutes Stück Demokratie, wie wir es vorgemacht haben, und das ist nie verkehrt, wenn in einem Staat wie dem unsern das so läuft. Meinen herzlichen Dank, meinen Respekt für Sie alle. Ich werde alles daran setzen - obwohl das nur eine Formel ist, wie Sie wissen -, ich werde alles daran setzen, der Bundespräsident aller Deutschen zu sein. Es gibt in unserem Staat, es gibt in unserer Gesellschaft viele Grenzen, die zwischen uns hindurchgehen - Grenzen der Überzeugung, Grenzen der Landsmannschaft, Grenzen der historischen Erfahrung, Grenzen auch des ökonomischen Interesses. Aber, meine Damen und Herren, es gibt unendlich viel, was uns gemeinsam ist, was uns allen gemeinsam ist, was in dem Streit der Parteien, in dem Streit der großen Verbände so nicht immer deutlich wird, was aber deutlich sein muss, damit dieser Staat und diese freiheitliche Gesellschaft fortexistieren und handlungsfähig sein können. Ich werde alles daransetzen, dieses Einende, das, was uns alle in diesem Saale hier und was uns die von uns Vertretenen einig macht, dieses zu betonen. Unser Weg in die Zukunft ist unsicherer, als er es noch vor fünf oder zehn Jahren war. Die Zukunft, in die wir hineingehen, ist schwierig. Sie ist nicht ohne weiteres mehr kalkulierbar, so wie das Fortsetzung auf Seite 2'

In [57]:
# An example of the second part
data['texts'][chained_pair_list[0][1]]

'Herzog will Präsident aller.... Fortsetzung von Seite 1 einige Jahrzehnte in der Vergangenheit war. Aber meine Damen und Herren, wir Deutschen haben die Kraft, wir Europäer haben die Kraft, diesen Weg zu finden und diesen Weg dann auch zu gehen. Daran sollten wir nie zweifeln und das sollten wir auch nie verschweigen. Es gehört zu unserem Leben dazu. Hätten wir diese Hoffnungen nicht mehr, dann könnten wir den Weg, der vor uns liegt, auch nicht gehen. Und das sage ich insbesondere in Irritationen hinein, die sich heute aus den Schwierigkeiten im Gefolge der deutschen Wiedervereinigung ergeben. Ich sage es an die Bürger der früheren Bundesrepublik, die jetzt viele Opfer bringen müssen. Meine Damen und Herren, ich kann es Ihnen nicht ersparen, das immer wieder zu sagen, das ist der Ausgleich für eine Ungerechtigkeit der Weltgeschichte, die durch Zufall an der Elbgrenze gelegt worden ist. Diesseits und jenseits der alten Mauer haben Deutsche gelebt, diesseits und jenseits der alten Mauer haben fleißige, phantasievolle, kreative Menschen gelebt. Und die einen sind schneller vorangekommen und die anderen nicht. Die einen deswegen, weil ihnen die Amerikaner geholfen haben, die wir in dieser Stunde nicht vergessen wollen. Und deswegen, meine Damen und Herren, weil sie ein politisches System hatten, das die Früchte ihres Fleißes gefördert und nicht immer wieder zunichte gemacht und gehindert hat. Das ist eine Ungerechtigkeit der Geschichte gewesen, und diejenigen, die bevorzugt waren im Rahmen dieser Ungerechtigkeit, haben die moralische Pflicht, jetzt den Ausgleich zu schaffen. Und ich sage es an die Menschen in den neuen Bundesländern, Sie müssen begreifen, dass Sie für uns keine Last, sondern dass Sie für uns ein Gewinn sind. Sie bringen unendlich viel ein an Erfahrungen, die wir im Westen nicht hatten, in einer ganz anderen Welt, in der vieles auch humaner gewesen ist als bei uns, in der vieles ganz anders war. Sie bringen Erfahrungen ein aus Ihrem beruflichen Bereich. Es liegen dort Schätze brach, die wieder gehoben werden müssen und auf die diese Menschen sich auch stützen und verlassen können. Wir müssen froh sein und ich bin froh, dass Sie wieder bei uns sind. Frau Präsidentin, meine Damen und Herren, ich will Deutschland so repräsentieren in den nächsten fünf Jahren, wie dieses Deutschland wirklich ist: friedliebend, freiheitsliebend, leistungsstark, um Gerechtigkeit zumindest bemüht, zur Solidarität bereit, tolerant, weltoffen und - was mir fast das wichtigste erscheint, meine Damen und Herren - unverkrampft. Wir Deutschen waren nicht immer unverkrampft. Das wird man nicht behaupten können. Wir haben es einigermaßen geschafft, diese Verkrampfung der späten Nation abzulegen. Es ist heute meine größte Sorge, dass das wieder eintreten könnte, und dem müssen wir vielleicht auch durch manche Eleganz in der Formulierung durch manches lockere Wort, dem müssen wir entgegenwirken. Dieses Deutschland muss in der Welt seine Rolle spielen, aber unverkrampft und ohne gefletschte Zähne. Das ist das allerwichtigste, was wir in diese nächsten Jahrzehnte hineinbringen müssen. Ich will, So wie ich mit einer persönlichen Reminiszenz begonnen habe, mit einer persönlichen Reminiszenz auch zu Ende kommen. Ich habe vor fast 30 Jahren in dieser Stadt in West - Berlin, wie es damals hieß, meine berufliche Laufbahn begonnen. Ich bin dann 25 Jahre unterwegs gewesen, jetzt hat mich Ihr Votum wieder in diese Stadt, die ich nie aufgehört habe zu lieben, zurückgeholt. Ich bedanke mich bei Ihnen. Berlin, ich bin wieder hier!'

In [58]:
# The indices of the first part of the chained articles.
first_part_ind = [pair[0] for pair in chained_pair_list]
# The indices of the second part of the chained articles.
second_part_ind = [pair[1] for pair in chained_pair_list]
# Merge the first and the second parts.
data.loc[first_part_ind, 'texts'] = data.loc[first_part_ind, 'texts'].values + \
" " + data.loc[second_part_ind, 'texts'].values
# Drop the second part.
data.drop(data.index[second_part_ind], inplace = True)
# The indices of the duplicates.
dup_indices = [tup[0] for tup in duplicates]
# Drop the duplicates.
data.drop(data.index[dup_indices], inplace = True)

In [59]:
# Calculate the word count of the merged articles.

startTime = datetime.now() 

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data.loc[first_part_ind, 'texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:02.831637

In [60]:
# Replace the "word_count" of the merged articles.
data.loc[first_part_ind, 'word_count'] = count_results
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [61]:
# the number of articles after concatenating chained articles
len(data)

557078

## Remove fuzzy duplicates

By fuzzy duplicates we understand nearly duplicated articles. These are:

* drafts/minor revisions of the articles saved in the database;
* slightly changed advertisements which are published several times during a month.

We identify 'fuzzy' duplicates using cosine similarity and choose a threshold of 93% based on some visual exploration. Here is the article by Ryan Basques we used as a reference: [Link](https://towardsdatascience.com/a-laymans-guide-to-fuzzy-document-deduplication-a3b3cf9a05a7).

In [62]:
# Create a 'date' column in the data DataFrame
data['date'] = pd.to_datetime(data[['year', 'month', 'day']])

### Duplicates exploration

We must first identify and visually inspect the fuzzy duplicates using the `fuzzy_duplicates_test` function before proceeding with their removal. This step ensures the algorithm's performance is as expected, and it accurately identifies articles as fuzzy duplicates based on their cosine similarity.

In [63]:
# Required input for the function 'fuzzy_duplicates': a dataframe for each month-year combination.
# List with a year
inputs_year = []
# List with a month
inputs_month = []
# List with the dataframes containing 'year', 'month', and 'texts' columns
inputs_month_year = []
for year in list(set(data['year'])):
    for month in list(set(data['month'])):
        # Exclude December 2018
        if year == 2018 and month == 12:
            continue
        inputs_year.append(year)
        inputs_month.append(month)
        inputs_month_year.append(data[(data['year'] == year) & (data['month'] == month)][["month", "year", "texts", "word_count", "date"]])
        
inputs = list(zip(inputs_year, inputs_month, inputs_month_year))

In [64]:
startTime = datetime.now() # track time

import fuzzy_duplicates_test_all_dpa 

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    dup_intermediate = pool.map(fuzzy_duplicates_test_all_dpa.fuzzy_duplicates_test, inputs) 
    duplicates = pd.concat(dup_intermediate) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

duplicates.to_csv('duplicates.csv', encoding = 'utf-8-sig', sep = ';')

0:05:34.361982

### Drop the duplicates

In [65]:
startTime = datetime.now() # track time

delete_indices = []

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    # apply function to all combinations of month-year in parallel
    delete_intermediate = pool.map(fuzzy_duplicates_dpa.fuzzy_duplicates, inputs)
    delete_indices = delete_indices + delete_intermediate # create one list of indices
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:05:35.367368

In [66]:
# Free memory
inputs = None
# List of indices corresponding to the duplicated articles
delete_indices = [item for sublist in delete_indices for item in sublist]
# List of unique indices
delete_indices = list(set(delete_indices))
# Drop the fuzzy duplicates
data.drop(data.index[delete_indices], inplace = True)
data.reset_index(inplace=True, drop=True) # reset the index of the DataFrame

In [67]:
# the number of articles after removing fuzzy duplicates
len(data)

552092

In [68]:
data.to_csv('fuzzy_duplicates_delete.csv', encoding = 'utf-8-sig', sep = ';')

In [69]:
data = pd.read_csv('fuzzy_duplicates_delete.csv', encoding = 'utf-8-sig', sep=';', index_col = 0, dtype = {'newspaper': 'str',
                                                                                                 'newspaper_2': 'str',
                                                                                                 'quelle_texts': 'str',
                                                                                                 'page': 'str',
                                                                                                 'rubrics': 'str'})
data.page = data.page.fillna('')
data.newspaper = data.newspaper.fillna('')
data.newspaper_2 = data.newspaper_2.fillna('')
data.rubrics = data.rubrics.fillna('')
data.quelle_texts = data.quelle_texts.fillna('')

## SZ-specific problem

We encountered a minor issue specific to the SZ dataset while addressing other problems. This issue involves texts containing broken umlauts. To resolve this, we identify such texts and correct their spelling accordingly.

In [70]:
startTime = datetime.now()

# Find the words like '}ber' and '|ffentlichen' in the articles' texts.
if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    problem_umlaut = pool.map(find_umlaut.find_umlaut, [text for text in data['texts']]) 
    pool.close()
    pool.join()

print(datetime.now()-startTime)

0:00:15.640010

In [71]:
# Indices of potentially problematic articles.
problem_umlaut_list = [tup[0] for tup in enumerate(problem_umlaut) if tup[1] != []]

In [72]:
index1 = problem_umlaut_list[1]
print(index1)
index2 = problem_umlaut_list[2]
print(index2)
index3 = problem_umlaut_list[3]
print(index3)

# Replace '|' with 'ö' and '}' with 'ü' in articles with indices 89229 and 89461
data.loc[index1, 'texts'] = data.loc[index1, 'texts'].replace('|', 'ö').replace('}', 'ü')
data.loc[index2, 'texts'] = data.loc[index2, 'texts'].replace('|', 'ö').replace('}', 'ü')

# Replace 'Biotechnolog|ieindustrie' with 'Biotechnologieindustrie' in the article with index 184123
data.loc[index3, 'texts'] = data.loc[index3, 'texts'].replace('Biotechnolog|ieindustrie', 'Biotechnologieindustrie')

89229
89461
184123

## Clean articles

SZ articles include some text passages that are unlikely to be relevant for either topic modeling or sentiment analysis. We decided to clean the affected articles from these text passages to make the analysis easier for our models.

We remove the following information from the texts:

   * 1) addresses and Internet addresses
   * 2) websites
   * 3) copyright information
   * 4) references to photo sources
   * 5) references to additional information
   * 6) telephone and fax numbers
   * 7) references to page numbers
   * 8) a sentence that is repeated 96 times in one text
   * 9) references to extended versions of interviews
   * 10) references to contact information
   * 11) references to podcasts

In [73]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    cleaned_articles = pool.map(clean_sz_articles.clean_sz_articles, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:45.024807

In [74]:
data['texts'] = cleaned_articles

In [75]:
# Calculate an updated word count of the cleaned articles.

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:15.376690

In [76]:
# Update the word count in the data frame.
data['word_count'] = count_results
# Drop short articles.
data = data[data['word_count']>=100]
data.reset_index(inplace=True, drop=True)

In [77]:
# the number of articles after excluding articles shorter than 100 words
len(data)

551817

## Exclude tables

In this section, we preprocess the news articles by removing tables to minimize noise and emphasize relevant content. We begin by calculating a numerical density metric for each text, which is computed as the ratio of the count of numbers to the total word count (excluding numbers). Texts with a numerical density of at least 20% are considered as candidates for containing tables. We manually examine these texts to identify recurring strings that typically precede tables. Using regular expressions, we exclude the tables based on these strings. Moreover, we delete some text segments predominantly comprising numbers.

In [78]:
# use the 'numeric_articles' function to identify articles with a high share of numbers in them
inputs = zip(data['texts'], data['word_count'], itertools.repeat(0.20))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    tables = pool.starmap(numeric_articles.numeric_articles, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)
data['tables'] = tables
tables = data[data.tables == True]

0:00:09.421605

Below is an example of an article containing a table with emission data for newly listed companies. To remove this table, we apply the following regular expression:  `r'1\) prozentuale Veränderung gegenüber.{0,}'`.

In [79]:
correct_ind = tables[tables.texts.str.contains('Mehr als die Hälfte')].index[0]
print(correct_ind)
tables.loc[correct_ind,'texts']

145683

'Neuemissionen `99. Mehr als die Hälfte liegt im Minus Debütanten an deutschen Börsen seit Anfang dieses Jahres (Reihenfolge nach Kursentwicklung1). Aktien von Film-Firmen verzeichnen die höchsten Gewinne. München, 30. September - Wer bei den Neuemissionen dieses Jahres zu den Erstzeichnern gehörte, machte zumeist Verluste. Gut die Hälfte aller Titel notiert derzeit unter ihrem Ausgabepreis. Die Zahl von Neuemissionen hat schon jetzt einen Höchstwert in der bundesdeutschen Geschichte erreicht. Während im bisherigen Rekordjahr 1998 insgesamt 77 Unternehmen Deutschland als Ort ihrer Börsenpremiere wählten, waren es seit Anfang 1999 bereits 143. Dabei gingen 99 Gesellschaften an den Neuen Markt, 20 in den amtlichen Handel, 12 in den geregelten Markt und 12 weitere an den Freiverkehr oder ähnliche Segmente der Regionalbörsen. Insgesamt 75 Titel notieren derzeit unter jenem Preis, zu dem sie an die Börse kamen. Dabei schneiden die Debütanten am Neuen Markt etwas besser ab als ihre Kollegen an anderen Segmenten. An der sogenannten Wachstumsbörse verzeichnet gut jeder zweite Newcomer Gewinne, während es bei den übrigen nur jeder dritte ist. Wie stark der Neue Markt jedoch an Attraktivität verloren hat, zeigt sich daran, dass zur Jahresmitte noch drei Viertel der dortigen Debütanten Zuwächse verzeichnet hatten. Die jüngste Schwäche zog auch die Gesamtbilanz der Neuemissionen ins Minus; Ende Juni hatten noch zwei von drei aller Zugänge über ihrem Ausgabepreis gelegen. Verlust von knapp 75 Prozent Die höchsten Abschläge sind bei artnet. com (-73,70 Prozent) zu verzeichnen. Für diese Talfahrt gibt es zwei Hauptgründe: Zum einen wurde Altaktionären des Online-Auktionators vorgeworfen, sie hätten das Verbot missachtet, Papiere frühestens sechs Monate nach Erstnotiz zu verkaufen. Zum anderen erweckte das Unternehmen den Eindruck, seine Geschäftszahlen schön zu färben. Zweitgrößter Verlierer sind Gigabell (-66,32 Prozent). Der Internet-Zugangsdienst korrigierte schon kurz nach seinem Börsengang im August seine Geschäftsprognosen für das laufende Jahr. So wird nun ein Viertel weniger Umsatz und ein fast drei Mal so hoher Fehlbetrag erwartet wie ursprünglich angekündigt. An dritter Stelle rangieren die Papiere von Netlife (-65,10 Prozent). Die Softwarefirma hatte ihre Vorhersagen ebenfalls deutlich nach unten geschraubt. Zudem sorgten Pläne der vier Gründungsgesellschafter für Aufruhr. Sie wollten sich ihre Forderungen von über 60 Millionen DM an das Unternehmen auszahlen lassen, die aus unübersichtlichen Transaktionen vor dem Börsenstart entstanden waren. Obwohl das Quartett schließlich auf das Geld verzichtete, blieben die Anleger verstimmt. Die drei Aktien mit den höchsten Gewinnen stammen sämtlich von Film-Produzenten oder -Rechtehändlern: VCL Film + Medien (+493,33 Prozent), RTV Family Entertainment (+363,86 Prozent) und Intertainment (+302,78 Prozent). Doch konnten sich bei diesen Titeln nur Erstzeichner ausnahmslos freuen. Viele Anleger, die erst nach der Premiere zum Zuge kamen, mussten hohe Verluste verbuchen - die aktuellen Kurse des Trios liegen um etwa die Hälfte unter ihren Höchstwerten. Ähnliche Abstürze trafen auch andere der 25 Besten. Sieben von ihnen notieren sogar unter ihrer Erstnotiz. Beate Uhse überrascht Bemerkenswert ist, dass mit Beate Uhse (+156,94 Prozent) ein Wert aus dem amtlichen Handel auf dem sechsten Platz landete. Die anderen Neulinge aus diesem Segment haben unterdurchschnittlich abgeschnitten. Während dies schon in den vergangenen Jahren der Fall war, haben sich Mammut-Emissionen, die üblicherweise schlechter als der Gesamtmarkt laufen, diesmal vergleichsweise gut gehalten. Die zehn größten Platzierungen können sich in etwa mit dem Rest der Debütanten messen: Fünf rangieren im Minus (Agfa, debitel, Maxdata, MVV Energie und Infor), drei im Plus (Software AG, Consors und Medion), die Kurse von Stinnes und Procon liegen exakt auf Höhe der Ausgabepreise. Zumindest ein Neuling wird bis Jahresende noch in diese Zehnergruppe vorstoßen: Epcos, das Joint-Venture von Siemens und Matsushita. Möglicherweise ist dieser Hersteller passiver Bauelemente, bei dem derzeit die Zeichnungsfrist läuft, sogar der größte Debütant des Jahres. Ansonsten scheint es mit dem massiven Ansturm an die Börse erstmal vorbei zu sein. An diesem Freitag wollen zwar noch drei Gesellschaften am Neuen Markt starten (Fabasoft, musicmusicmusic und Norcom), doch für die Zeit danach haben nur acht Aspiranten exakte Daten ihrer Emission genannt. Für September hatte diese Vorschau-Liste ursprünglich rund 30 Unternehmen umfasst. Das schlechte Klima für Neuemissionen schreckte allerdings viele Firmen davon ab, tatsächlich den Sprung an die Kapitalmärkte zu wagen. Martin Reim 1) prozentuale Veränderung gegenüber dem Ausgabepreis; 2) in Euro; 3) geregelter Markt; 4) Neuer Markt; 5) amtlicher Handel; 6) Freiverkehr; 7) Listing ohne Ausgabe zusätzlicher Aktien; Rang ergibt sich aus Veränderung gegenüber Erstnotiz Quellen: Reuters; eigene Berechnungen DIE BESTEN 25 Name Emissions- datumBörsen- segmentEmissions-preis2)Erst- notiz 2)Höchstkurs2) Tiefstkurs2) Kassakurs 30.9.2)Veränd. geg. Emissionspr.Veränd. geg. ErstnotizVCL Film + Medien27.05.GM3)15,0017,00194,50 15,8089,00+493,33%+423,53%RTV Family Entertainment08.06.NM4) 8,30 21,00 96,00 20,0538,50+363,86%+ 83,33%Intertainment08.02.NM18,00 70,00145,00 62,5072,50+302,78%+ 3,57%Highlight Comm.11.05.NM25,50 28,00 98,00 27,0072,00+182,,35%+157,14%Medion26.02.NM85,00150,00283,50128,00225,00+164,71%+ 50,00%Beate Uhse27.05.AH5) 7,20 13,20 28,20 12,5218,50+156,94%+ 40,15%D-Logistics28.04.NM30,00 33,00 94,00 32,5070,00+133,33%+112,12%Jumptec26.03.NM26,00 53,50 95,50 43,0060,00+130,77%+ 12,15%ACG01.06.NM46,00 70,00 153,00 58,00106,00+130,43%+ 51,43%MWG Biotech07.05.NM27,00 27,00 82,00 21,05 61,00+125,93%+125,93%Adva29.03.NM32,00 39,00 87,50 39,00 72,00+125,00%+ 84,62%GFT28.06.NM23,00 44,00 66,00 38,50 47,90+108,26%+ 8,86%Steag Hamatech12.05.NM 9,25 9,35 30,10 7,91 19,00+105,41%+103,21%Kabel New Media15.06.NM 6,15 17,00 41,50 9,80 12,60+104,88%- 25,88%i:FAO01.03.NM21,00 65,00100,5039,50 40,60+ 93,33%- 37,54%Emprise Management Consulting16.06.NM11,50 19,50 27,9016,00 21,70+ 88,70%+ 11,28%Advanced Medien06.08.NM 5,60 14,50 22,50 9,50 10,50+ 8750%- 27,59%Endemann Internet06.08.NM23,00106,00117,2036,10 42,40+ 84,35%- 60,00%Primacom22.02.NM29,00 38,50 58,0029,00 51,50+ 77,59%+ 33,77%Senator Film29.01.NM38,00135,00153,0054,20 67,00+ 76,32%- 50,37%CPU Software19.04.NM26,00 58,00 80,0045,20 45,20+ 73,85%- 22,07%Hancke & Peter25.01.NM14,70 45,00 48,5021,50 25,00+ 70,07%- 44,44%aap Implantate10.05.NM10,00 11,20 18,10 8,50 17,00+ 70,00%+ 51,79%Zapf Creation26.04.AH19,65 19,65 36,0019,30 33,10+ 68,45&+ 68,45%I-D Media17.06.NM23,00 23,00 48,0023,00 38,50+ 67,39%+ 67,39% DIE SCHLECHTESTEN 25 Name Emissions- datumBörsen- segmentEmissions-preis2)Erst- notiz2)Höchstkurs2) Tiefstkurs2) Kassakurs 30.9.2)Veränd. geg. Emissionspr.Veränd. geg. .05.NM46,0048,0066,5010,5012,10-73,70%-74,79%Gigabell11.08.NM38,0033,0037,9012,8012,80-66,32%-61,21%Netlife01.06.NM25,5026,0027,50 8,90 8,90-65,10%-65,77%Bit-by-bit03.05.FV6)-7)21,5025,75 7,50 8,80--59,07%Metabox07.06.NM45,0048,5052,4019,0019,60-56,44%-59,59%Wizcom29.03.NM12,0017,0020,50 5,60 5,75-52,08%-66,18%German Brokers03.05.GM17,0017,9017,95 7,50 8,65-49,12%-51,68%DV-Job02.06.FV11,0011,0011,45 6,10 6,10-44,55%-44,55%Maxdata09.06.NM31,00 31,0032,0017,5017,70-42,90%-42,90%Softmatic01.06.NM20,00 19,5020,2011,5011,50-42,50%-41,03%Cash.Medien21.09.GM11,40 9,8010,40 6,50 6,60-42,11%-32,65%Brain International10.03.NM42,00 55,0066,5024,8025,05-40,36%-54,45%Brain Force Software10.06.NM26,00 .03.NM15,00 17,0032,00 8,30 9,10-39,33%-46,47%Euromed16.06.NM 9,00 8,509,00 5,50 5,50-38,89%-35,29%Infor Business Solution11.05.NM31,00 30,0031,0020,0020,00-35,48%-33,33%Beko Holding14.06.NM62,00 56,0062,9038,5040,00-35,48%-28,57%Shuttlesoft09.06.FV23,00 23,0031,0015,0515,10-34,35%-34,35%On Track Innovations31.08.NM 8,50 7,508,10 5,10 5,60-34,12%-25,33%Kleindienst Datentechnik02.06.NM24,00 24,0024,9515,2516,40-31,67%-31,67%Schnigge17.08.GM41,00 41,2041,2028,0028,50-30,49%-30,83%Elexis Elektroholding04.05.NM 7,00 7,00 8,00 4,90 4,90-30,00%-30,00%Haitec14.06.NM40,00 42,0051,2028,5028,50-28,75%-32,14%P & I Personal & Informatik 07.06.NM12,50 12,5013,00 8,50 8,95-28,40%-28,40%Mania Technologie26.06.NM18,00 18,5019,5012,3013,00-27,78%-27,78%'

Clean tables using regular expressions.

In [80]:
startTime = datetime.now()
if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    remove_tables = pool.map(clean_tables_sz.clean_tables_sz, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

data['texts'] = remove_tables

0:00:13.471488

In [81]:
startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    count_results = pool.map(count_words_mp.count_words_mp, [text for text in data['texts']]) 
    pool.close()
    pool.join()
    
print(datetime.now()-startTime)

0:00:24.099785

In [82]:
# Update the content of the column "word_count"
data['word_count'] = count_results

In [83]:
# remove articles with less than 100 words, while retaining those that contain the string 'Konjunktur-Kompass'
data = data[(data['word_count']>=100) | (data.texts.str.contains('Konjunktur-Kompass'))]
data = data.sort_values(['year', 'month', 'day'], ascending=[True, True, True]) # sort the data in chronological order
data.reset_index(inplace=True, drop=True)
# the number of articles after excluding articles shorter than 100 words
print(len(data))
del data['tables']

551604

## Identify articles that predominantly consist of numbers

Articles that predominantly consist of numerical data present challenges for sentiment or topic analysis as, once numbers are removed, they tend to contain limited information. Therefore, we remove articles with a numerical density of 50% or greater.

In [84]:
# use the 'numeric_articles' function to identify economic articles with a high share of numbers in them
inputs = zip(data['texts'], data['word_count'], itertools.repeat(0.50))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    numeric_list = pool.starmap(numeric_articles.numeric_articles, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)
data['numeric'] = numeric_list

0:00:11.328068

In [85]:
# inspect example article with high share of numbers
data[data.numeric == True]['texts'].iloc[0]

'Die Ergebnisse in den Wahlkreisen. Bei der Landtagswahl in Niedersachsen hat jeder Wähler wie bei der Bundestagswahl zwei Stimmen. Mit der Erststimme wird der Wahlkreiskandidat und mit der Zweitstimme die Partei gewählt. Der Anteil der Zweitstimmen legt gemäß Verhältniswahlrecht die Zahl der Sitze einer jeden Partei im Landtag fest. Die folgenden Werte geben den prozentualen Anteil der Erststimmen wieder. Die Ergebnisse von 1990 stehen in Klammern. 1 Braunschweig - Nordost SPD 41,0 (43,4), CDU 39,7 (44,3), FDP 3,8 (5,3), Grüne 10,5 (7,0), REP 2,7 (0,0), STATT Partei 2,3; gew. Isolde Saalmann (SPD), bisher Wolfgang Sehrt (CDU). 2 Braunschweig - Südost SPD 41,9 (43,7), CDU 41,0 (46,2), FDP 3,5 (4,8), Grüne 7,7 (5,3), REP 3,6 (0,0), STATT Partei 2,2; gew. Klaus - Peter Bachmann (SPD), bisher Heiner Herbst (CDU). 3 Braunschweig - Südwest SPD 49,0 (49,7), CDU 32,5 (40,1), FDP 2,8 (4,2), Grüne 9,4 (6,0), REP 4,1 (0,0), STATT Partei 2,2; gew. Jürgen Buchheister (SPD), bisher Friedhelm Schuricht (SPD). 4 Braunschweig - Nordwest SPD 48,6 (49,4), CDU 34,7 (41,3), FDP 3,3 (3,9), Grüne 7,7 (5,3), REP 3,3 (0,0), STATT Partei 2,3; gew. Gerhard Glogowski (SPD) wie bisher. 5 Peine SPD 54,0 (51,5), CDU 34,3 (39,7), FDP 3,3 (3,7), Grüne 6,2 (5,1), REP 0,0 (0,0), STATT Partei 0,0; gew. Ulrich Biel (SPD) wie bisher. 6 Peine - Land SPD 52,4 (49,1), CDU 34,9 (40,3), FDP 3,0 (3,5), Grüne 7,6 (5,3), REP 0,0 (1,7), STATT Partei 2,1; gew. Rosemarie Tinius (SPD), bisher Werner Kirschner (SPD). 7 Gifhorn - Süd SPD 40,4 (41,5), CDU 42,3 (49,4), FDP 3,2 (4,3), Grüne 7,0 (4,8), REP 4,2 (0,0), STATT Partei 1,5; gew. Helmut Kuhlmann (CDU) wie bisher. 8 Gifhorn - Nord SPD 45,1 (41,2), CDU 41,8 (46,7), FDP 6,1 (7,5), Grüne 5,1 (3,6), REP 0,0 (0,0), STATT Partei 0,0; gew. Marion Lau (SPD), bisher Wilfried Wolter (CDU). 9 Helmstedt SPD 48,0 (43,8), CDU 40,2 (47,5), FDP 2,4 (4,7), Grüne 4,9 (3,0), REP 3,1 (0,0), STATT Partei 0,0; gew. Hans - Hermann Wendhausen (SPD), bisher Rolf Reinemann (CDU). 10 Königinmutter SPD 47,6 (43,2), CDU 40,2 (47,6), FDP 3,5 (3,3), Grüne 6,7 (4,2), REP 0,0 (0,0), STATT Partei 0,0; gew. Ingolf Viereck (SPD), bisher Heinrich - Wilhelm Ronsöhr (CDU). 11 Wolfsburg SPD 48,6 (46,4), CDU 40,2 (46,0), FDP 4,1 (2,8), Grüne 5,1 (3,5), REP 0,0 (0,0), STATT Partei 0,0; gew. Irmela Hammelstein (SPD) wie bisher. 12 Wolfenbüttel SPD 44,0 (42,9), CDU 41,0 (48,4), FDP 3,5 (3,8), Grüne 5,7 (4,1), REP 3,3 (0,0), STATT Partei 2,3; gew. Gerhild Jahn (SPD), bisher Ernst - Henning Jahn (CDU). 13 Schöppenstedt SPD 52,8 (52,9), CDU 35,0 (40,8), FDP 1,8 (2,8), Grüne 4,5 (3,5), REP 4,1 (0,0), STATT Partei 1,8; gew. Karl - Heinz Mühe (SPD) wie bisher. 14 Salzgitter SPD 52,6 (54,6), CDU 33,6 (38,5), FDP 2,2 (3,0), Grüne 4,7 (3,9), REP 4,9 (0,0), STATT Partei 1,9; gew. Peter - Jürgen Schneider (SPD) wie bisher. 15 Seesen SPD 50,3 (48,5), CDU 38,3 (41,6), FDP 4,0 (4,8), Grüne 6,7 (5,1), REP 0,0 (0,0), STATT Partei 0,0; gew. Peter Kopischke (SPD) wie bisher. 16 Goslar SPD 48,5 (46,4), CDU 36,7 (42,7), FDP 4,4 (6,4), Grüne 6,9 (4,5), REP 3,5 (0,0), STATT Partei 0,0; gew. Sigmar Gabriel (SPD) wie bisher. 17 Harz SPD 43,7 (42,2), CDU 45,0 (47,5), FDP 3,6 (4,9), Grüne 7,7 (5,4), REP 0,0 (0,0), STATT Partei 0,0; gew. Jürgen Dorka (CDU) wie bisher. 18 Osterode SPD 52,7 (49,8), CDU 37,9 (41,4), FDP 3,7 (5,2), Grüne 5,7 (3,6), REP 0,0 (0,0), STATT Partei 0,0; gew. Heinz - Wolfgang Domöse (SPD) wie bisher. 19 Duderstadt SPD 38,0 (34,3), CDU 48,8 (59,6), FDP 3,3 (2,9), Grüne 5,1 (3,1), REP 4,8 (0,0), STATT Partei 0,0; gew. Lothar Koch (CDU), bisher Willi Göring (CDU). 20 Münden SPD 52,3 (52,8), CDU 35,1 (36,4), FDP 3,9 (5,3), Grüne 8,7 (5,5), REP 0,0 (0,0), STATT Partei 0,0; gew. Wolfgang Senff (SPD) wie bisher. 21 Göttingen SPD 42,8 (49,6), CDU 29,7 (32,6), FDP 4,5 (6,9), Grüne 18,7 (10,9), REP 2,7 (0,0), STATT Partei 0,0; gew. Hulle Hartwig (SPD), bisher Gudrun Hartwig (SPD). 22 Göttingen - Land SPD 47,7 (51,1), CDU 33,2 (35,9), FDP 4,6 (6,0), Grüne 10,2 (7,1), REP 2,8 (0,0), STATT Partei 0,0; gew. Thomas Oppermann (SPD) wie bisher. 23 Northeim SPD 53,1 (52,5), CDU 33,2 (38,4), FDP 4,1 (4,8), Grüne 5,6 (3,9), REP 4,1 (0,0), STATT Partei 0,0; gew. Axel Endlein (SPD) wie bisher. 24 Einbeck SPD 53,0 (52,3), CDU 32,3 (37,7), FDP 3,7 (6,6), Grüne 4,5 (3,4), REP 4,0 (0,0), STATT Partei 0,0; gew. Uwe Schwarz (SPD) wie bisher. 25 Holzminden SPD 52,5 (51,8), CDU 34,7 (35,9), FDP 6,7 (7,6), Grüne 6,1 (4,0), REP 0,0 (0,0), STATT Partei 0,0; gew. Ernst - August Wolf (SPD), bisher Willi Waike (SPD). 26 Bad Münder SPD 55,3 (54,6), CDU 31,5 (36,1), FDP 4,7 (5,2), Grüne 6,3 (4,1), REP 0,0 (0,0), STATT Partei 2,2; gew. Wolfgang Schultze (SPD) wie bisher. 27 Bad Pyrmont SPD 49,4 (46,3), CDU 39,7 (43,3), FDP 3,6 (4,9), Grüne 7,2 (4,6), REP 0,0 (0,0), STATT Partei 0,0; gew. Christel Thielke (SPD) wie bisher. 28 Hameln SPD 50,0 (47,2), CDU 34,2 (38,4), FDP 4,2 (6,6), Grüne 7,6 (6,7), REP 0,0 (0,0), STATT Partei 2,5; gew. Klaus Nolting (SPD) wie bisher. 29 Alfeld SPD 58,2 (55,8), CDU 32,5 (35,7), FDP 3,3 (4,7), Grüne 4,9 (3,8), REP 0,0 (0,0), STATT Partei 0,0; gew. Jürgen Lanclee (SPD), bisher Friedrich Deike (SPD). 30 Bad Salzdetfurth SPD 51,4 (50,9), CDU 35,1 (41,7), FDP 3,0 (3,2), Grüne 5,0 (3,6), REP 4,4 (0,0), STATT Partei 0,0; gew. Reiner Wegner (SPD), bisher Jochen Patzschke (SPD). 31 Hildesheim SPD 48,2 (46,9), CDU 36,4 (42,6), FDP 3,5 (4,9), Grüne 5,7 (5,0), REP 4,8 (0,0), STATT Partei 0,0; gew. Monika Griefahn (SPD), bisher Leonore Aürbach (SPD). 32 Sarstedt SPD 47,8 (45,7), CDU 41,3 (46,2), FDP 3,1 (3,9), Grüne 5,9 (4,2), REP 0,0 (0,0), STATT Partei 0,0; gew. Werner Buss (SPD), bisher Heinrich Biermann (CDU). 33 Hannover - Mitte SPD 43,8 (46,5), CDU 31,9 (38,5), FDP 4,7 (6,8), Grüne 12,3 (8,0), REP 3,9 (0,0), STATT Partei 2,3; gew. Heidrun Alm - Merk (SPD) wie bisher. 34 Hannover - List SPD 52,8 (55,1), CDU 25,0 (33,1), FDP 3,7 (3,7), Grüne 11,7 (8,0), REP 4,5 (0,0), STATT Partei 0,0; gew. Herbert Schmalstieg (SPD) wie bisher. 35 Hannover - Nordwest SPD 49,1 (52,5), CDU 31,0 (39,3), FDP 3,5 (4,1), Grüne 5,7 (4,1), REP 8,3 (0,0), STATT Partei 0,0; gew. Rolf Wernstedt (SPD) wie bisher. 36 Hannover - Nordost SPD 46,9 (46,9), CDU 35,9 (41,1), FDP 5,0 (7,3), Grüne 6,5 (4,7), REP 5,7 (0,0), STATT Partei 0,0; gew. Axel Ölaue (SPD) wie bisher. 37 Hannover - Südost SPD 40,1 (42,1), CDU 39,5 (44,6), FDP 5,8 (8,1), Grüne 7,8 (5,1), REP 4,1 (0,0), STATT Partei 1,7; gew. Sigrid Leuschner (SPD), bisher Christoph von Bredow (CDU). 38 Hannover - Linden SPD 52,1 (56,9), CDU 23,3 (28,8), FDP 3,1 (3,7), Grüne 14,9 (10,6), REP 5,0 (0,0), STATT Partei 0,0; gew. Wolfgang Jüttner (SPD) wie bisher. 39 Hannover - Limmer SPD 48,8 (53,2), CDU 31,2 (35,2), FDP 3,2 (5,0), Grüne 8,6 (6,7), REP 5,6 (0,0), STATT Partei 0,0; gew. Christa Elsner - Solar (SPD), bisher Michael Auditor (SPD). 40 Laatzen SPD 47,3 (48,4), CDU 35,8 (42,1), FDP 3,6 (4,7), Grüne 5,4 (4,3), REP 4,8 (0,0), STATT Partei 2,9; gew. Gertraude Kruse (SPD) wie bisher. 41 Lehrte SPD 51,7 (47,0), CDU 36,4 (43,2), FDP 4,5 (5,5), Grüne 5,1 (4,0), REP 0,0 (0,0) STATT Partei 0,0; gew. Gerhard Schröder (SPD) wie bisher. 42 Burgdorf SPD 45,1 (43,2), CDU 39,2 (45,3), FDP 5,9 (6,2), Grüne 6,3 (5,3), REP 0,0 (0,0), STATT Partei 0,0; gew. Michael Stolze (SPD), bisher Lutz von der Heide (CDU). 43 Langenhagen SPD 45,9 (44,6), CDU 39,2 (45,4), FDP 3,9 (5,3), Grüne 5,7 (4,7), REP 4,8 (0,0), STATT Partei 0,0; gew. Peter Fischer (SPD), bisher Jochen Haselbacher (CDU). 44 Neustadt SPD 44,3 (47,4), CDU 37,5 (42,0), FDP 4,4 (5,4), Grüne 5,6 (4,9), REP 5,5 (0,0), STATT Partei 0,0; gew. Dieter Wallraff (SPD) wie bisher. 45 Wunstorf SPD 48,1 (46,3), CDU 33,5 (39,1), FDP 7,1 (8,8), Grüne 5,5 (4,6), REP 4,6 (0,0), STATT Partei 0,0; gew. Heinrich Aller (SPD) wie bisher. 46 Springe SPD 48,5 (48,4), CDU 35,0 (43,1), FDP 4,0 (3,9), Grüne 6,3 (4,6), REP 0,0 (0,0), STATT Partei 0,0; gew. Udo - Hans Mientus (SPD) wie bisher. 47 Schaumburg SPD 50,3 (51,0), CDU 37,0 (41,1), FDP 3,0 (3,7), Grüne 4,8 (3,4), REP 4,9 (0,0), STATT Partei 0,0; gew. Heiner Bartling (SPD) wie bisher. 48 Bückeburg SPD 52,4 (52,2), CDU 33,4 (39,6), FDP 3,6 (4,0), Grüne 5,0 (4,2), REP 4,2 (0,0), STATT Partei 0,0; gew. Alfred Reckmann (SPD) wie bisher. 49 Nienburg - Süd SPD 41,8 (43,0), CDU 45,3 (48,4), FDP 3,2 (3,8), Grüne 5,8 (3,7), REP 3,5 (0,0), STATT Partei 0,0; gew. Willi Heineking (CDU) wie bisher. 50 Nienburg - Nord SPD 46,4 (45,3), CDU 39,0 (44,6), FDP 4,2 (5,3), Grüne 6,6 (4,7), REP 3,7 (0,0), STATT Partei 0,0; gew. Peter Gruber (SPD) wie bisher. 51 Diepholz SPD 42,7 (39,7), CDU 38,5 (39,8), FDP 8,5 (16,6), Grüne 5,4 (3,4), REP 4,3 (0,0), STATT Partei 0,0; gew. Günter Schlüterbusch (SPD), bisher Karl - Heinz Klare (CDU). 52 Syke SPD 46,9 (46,2), CDU 34,5 (42,0), FDP 7,0 (5,5), Grüne 8,3 (5,7), REP 3,3 (0,0), STATT Partei 0,0; gew. Ilse Lübben (SPD) wie bisher. 53 Osterholz - Scharmbeck SPD 56,1 (55,7), CDU 28,7 (34,4), FDP 3,8 (3,5), Grüne 9,4 (6,3), REP 0,0 (0,0), STATT Partei 0,0; gew. Uwe Bruns (SPD) wie bisher. 54 Achim SPD 49,9 (48,5), CDU 31,0 (37,1), FDP 6,7 (6,2), Grüne 9,3 (6,7), REP 3,1 (1,3), STATT Partei 0,0; gew. Christoph Rippich (SPD) wie bisher. 55 Verden SPD 47,3 (45,2), CDU 39,2 (43,1), FDP 4,4 (4,6), Grüne 9,0 (5,3), REP 0,0 (1,7), STATT Partei 0,0; gew. Christina Übermanne (SPD) wie bisher. 56 Fallingbostel SPD 48,7 (46,0), CDU 35,5 (44,1), FDP 3,8 (4,9), Grüne 7,1 (4,4), REP 4,0 (0,0), STATT Partei 0,0; gew. Peter Rabe (SPD) wie bisher. 57 Soltau SPD 43,2 (40,7), CDU 42,8 (50,4), FDP 3,3 (4,0), Grüne 5,4 (4,3), REP 4,5 (0,0), STATT Partei 0,0; gew. Dieter Möhrmann (SPD), bisher Gustav Isernhagen (CDU). 58 Celle - Land SPD 39,5 (39,4), CDU 42,2 (50,2), FDP 5,2 (6,2), Grüne 4,8 (3,5), REP 5,2 (0,0), STATT Partei 0,0; gew. Albert Heinemann (CDU) wie bisher. 59 Celle SPD 39,1 (39,0), CDU 43,3 (49,9), FDP 5,4 (6,5), Grüne 5,4 (3,5), REP 5,5 (0,0), STATT Partei 0,0; gew. Otto Stumpf (CDU), bisher Edzard Blanke (CDU). 60 Uelzen SPD 43,7 (43,5), CDU 42,9 (45,5), FDP 3,2 (5,1), Grüne 6,8 (4,6), REP 3,5 (0,0), STATT Partei 0,0; gew. Jacques Vollständiger (SPD), bisher Hans - Heinrich Ottens (CDU). 61 Lüchow - Dannenberg SPD 44,2 (43,1), CDU 45,8 (43,4), FDP 3,4 (5,8), Grüne 6,5 (5,5), REP 0,0 (2,2), STATT Partei 0,0; gew. Klaus Wojahn (CDU), bisher Kurt - Dieter Grill (CDU). 62 Lüneburg - Land SPD 42,8 (42,3), CDU 36,2 (46,2), FDP 3,9 (4,4), Grüne 8,3 (5,4), REP 3,6 (0,0), STATT Partei 5,2; gew. Wolfgang Schurreit (SPD), bisher Wilhelm Martens (CDU). 63 Lüneburg SPD 43,2 (45,3), CDU 32,2 (41,1), FDP 5,1 (5,7), Grüne 9,6 (7,1), REP 3,6 (0,0), STATT Partei 6,3; gew. Uwe Inselmann (SPD) wie bisher. 64 Winsen SPD 40,2 (40,0), CDU 36,7 (46,6), FDP 3,8 (6,1), Grüne 7,2 (5,1), REP 5,0 (1,9), STATT Partei 7,1; gew. Uwe Harden (SPD), bisher Franz Röhre (CDU). 65 Seevetal SPD 41,4 (40,4), CDU 38,9 (44,9), FDP 5,7 (9,0), Grüne 8,9 (5,0), REP 5,1 (0,0), STATT Partei 0,0; gew. Brigitte Somfleth (SPD), bisher Norbert Böhme (CDU). 66 Buchholz SPD 39,6 (38,7), CDU 38,1 (46,1), FDP 5,2 (6,5), Grüne 9,8 (7,1), REP 4,5 (0,0), STATT Partei 0,0; gew. Silva Seeler (SPD), bisher Gebhard Müller (CDU). 67 Rotenburg SPD 43,6 (42,6), CDU 39,5 (44,8), FDP 2,6 (2,7), Grüne 6,8 (4,6), REP 5,6 (5,3), STATT Partei 1,9; gew. Bodo Räte (SPD), bisher Hans - Cord Graf von Bothmer (CDU). 68 Bremervörde SPD 39,3 (38,1), CDU 45,6 (52,4), FDP 3,6 (4,2), Grüne 10,5 (4,5), REP 0,0 (0,0), STATT Partei 0,0; gew. Hans - Heinrich Ehlen (CDU), bisher Wilhelm Brunkhorst (CDU). 69 Buxtehude SPD 44,8 (44,0), CDU 39,6 (44,1), FDP 3,9 (5,6), Grüne 6,8 (4,5), REP 0,0 (0,0), STATT Partei 3,3; gew. Monika Wortärmer - Zimmermann (SPD), bisher Heinrich Augustin (CDU). 70 Stade SPD 47,2 (47,6), CDU 35,5 (42,6), FDP 2,5 (3,7), Grüne 8,0 (5,0), REP 3,0 (0,0), STATT Partei 3,8; gew. Heinrich von Borstel (SPD) wie bisher. 71 Hadeln SPD 43,6 (46,0), CDU 40,4 (46,1), FDP 5,3 (3,6), Grüne 5,2 (4,3), REP 3,0 (0,0), STATT Partei 2,4; gew. Birgit Meyn - Horeis (SPD), bisher Martin Döschen (CDU). 72 Cuxhaven SPD 49,4 (46,0), CDU 31,2 (43,0), FDP 2,9 (3,1), Grüne 5,4 (5,9), REP 4,1 (1,8), STATT Partei 6,5; gew. Hans - Heinrich Eilers (SPD) wie bisher. 73 Wesermünde SPD 48,8 (50,3), CDU 33,9 (41,0), FDP 3,1 (3,6), Grüne 6,7 (5,1), REP 3,7 (0,0), STATT Partei 3,1; gew. Edda Gödel (SPD) wie bisher. 74 Oldenburg - Süd SPD 45,1 (46,8), CDU 30,4 (35,5), FDP 4,2 (5,6), Grüne 16,1 (11,7), REP 0,0 (0,0), STATT Partei 2,3; gew. Wolfgang Wulf (SPD), bisher Werner Rettig (SPD). 75 Oldenburg - Nord SPD 51,1 (54,1), CDU 28,4 (32,5), FDP 4,3 (5,5), Grüne 11,4 (7,5), REP 2,3 (0,0), STATT Partei 2,5; gew. Horst Milde (SPD) wie bisher. 76 Wesermarsch SPD 58,9 (56,5), CDU 27,9 (31,9), FDP 5,1 (5,7), Grüne 7,4 (6,0), REP 0,0 (0,0), STATT Partei 0,0; gew. Hans - Joachim Beckmann (SPD) wie bisher. 77 Delmenhorst SPD 54,4 (52,7), CDU 29,4 (36,7), FDP 5,0 (4,5), Grüne 6,2 (6,0), REP 4,9 (0,0), STATT Partei 0,0; gew. Harald Groth (SPD) wie bisher. 78 Oldenburg - Land SPD 45,6 (44,9), CDU 34,3 (40,4), FDP 8,0 (8,5), Grüne 7,8 (5,7), REP 0,0 (0,0), STATT Partei 3,6; gew. Hans - Christian Schack (SPD) wie bisher. 79 Cloppenburg SPD 26,4 (23,5), CDU 63,5 (66,9), FDP 3,1 (4,6), Grüne 4,8 (5,1), REP 0,0 (0,0), STATT Partei 2,1; gew. Hans Evelslage (CDU) wie bisher. 80 Vechta SPD 30,4 (26,1), CDU 58,7 (64,6), FDP 6,2 (5,9), Grüne 4,7 (3,4), REP 0,0 (0,0), STATT Partei 0,0; gew. Friedhelm Biestmann (CDU), bisher Clemens - August Krapp (CDU). 81 Melle SPD 40,6 (41,4), CDU 47,9 (49,7), FDP 4,0 (4,4), Grüne 6,4 (4,4), REP 0,0 (0,0), STATT Partei 0,0; gew. Josef Stock (CDU) wie bisher. 82 Bissendorf SPD 40,7 (37,0), CDU 48,6 (51,3), FDP 4,4 (6,7), Grüne 4,5 (5,1), REP 0,0 (0,0), STATT Partei 0,0; gew. Georg Schirmbeck (CDU) wie bisher. 83 Osnabrück - Ost SPD 49,6 (50,9), CDU 39,4 (40,4), FDP 2,9 (4,0), Grüne 7,4 (4,7), REP 0,0 (0,0), STATT Partei 0,0; gew. Eckhard Fasold (SPD) wie bisher. 84 Osnabrück - West SPD 42,9 (45,8), CDU 44,3 (41,6), FDP 3,5 (5,5), Grüne 9,3 (7,1), REP 0,0 (0,0), STATT Partei 0,0; gew. Christian Wulff (CDU), bisher Karin Detert - Weber (SPD). 85 Georgsmarienhütte SPD 41,6 (41,1), CDU 47,6 (50,1), FDP 2,8 (3,2), Grüne 6,7 (5,2), REP 0,0 (0,0), STATT Partei 0,0; gew. Irmgard Vogelsang (CDU) wie bisher. 86 Bersenbrück SPD 43,2 (41,8), CDU 44,9 (48,4), FDP 5,2 (5,0), Grüne 6,7 (4,4), REP 0,0 (0,0), STATT Partei 0,0; gew. Reinhold Tönen (CDU), bisher Burkhard Ritz (CDU). 87 Nordhorn SPD 42,8 (44,5), CDU 45,7 (47,1), FDP 4,1 (4,0), Grüne 5,7 (4,0), REP 0,0 (0,0), STATT Partei 0,0; gew. Friedrich Kethorn (CDU) wie bisher. 88 Lingen SPD 32,1 (30,7), CDU 58,4 (61,7), FDP 2,8 (3,0), Grüne 4,4 (3,2), REP 0,0 (0,0), STATT Partei 0,0; gew. Heinz Rolfes (CDU), bisher Werner Remmers (CDU). 89 Meppen SPD 32,4 (29,0), CDU 57,1 (63,5), FDP 3,8 (3,6), Grüne 5,0 (3,6), REP 0,0 (0,0), STATT Partei 1,7; gew. Heinz Jansen (CDU) wie bisher. 90 Papenburg SPD 27,5 (22,9), CDU 60,6 (64,2), FDP 6,1 (7,5), Grüne 3,8 (4,1), REP 0,0 (0,0), STATT Partei 2,0; gew. Bernd Busemann (CDU), bisher Walter Remmers (CDU). 91 Leer SPD 49,3 (52,8), CDU 30,1 (38,4), FDP 2,3 (2,9), Grüne 6,4 (5,3), REP 1,9 (0,0), STATT Partei 1,3; gew. Günther Bökhoff (SPD) wie bisher. 92 Leer - Borkum SPD 61,0 (58,8), CDU 28,7 (32,7), FDP 2,5 (2,4), Grüne 5,1 (5,5), REP 0,0 (0,0), STATT Partei 2,8; gew. Helmut Collman (SPD) wie bisher. 93 Emden SPD 66,0 (67,1), CDU 20,7 (24,9), FDP 3,7 (2,8), Grüne 7,7 (5,2), REP 0,0 (0,0), STATT Partei 1,9; gew. Alwin Brinkmann (SPD), bisher Johann Bruns (SPD). 94 Aurich SPD 57,8 (59,6), CDU 29,5 (31,0), FDP 2,9 (2,7), Grüne 6,1 (6,8), REP 0,0 (0,0), STATT Partei 3,2; gew. Hermann Bontjer (SPD) wie bisher. 95 Norden SPD 62,5 (59,7), CDU 25,3 (28,9), FDP 3,4 (4,3), Grüne 6,6 (7,1), REP 0,0 (0,0), STATT Partei 2,1; gew. Hinrich Swieter (SPD) wie bisher. 96 Wittmund SPD 48,4 (49,8), CDU 38,0 (42,4), FDP 3,3 (3,3), Grüne 6,2 (4,5), REP 0,0 (0,0), STATT Partei 1,6; gew. Günter Peters (SPD), bisher Udo Könne (SPD). 97 Ammerland SPD 44,5 (43,3), CDU 38,5 (44,3), FDP 5,4 (6,7), Grüne 6,7 (5,1), REP 3,0 (0,0), STATT Partei 1,6; gew. Wolf Weber (SPD), bisher Johann Hinrichs (CDU). 98 Varel SPD 59,9 (57,9), CDU 27,7 (30,2), FDP 3,8 (5,9), Grüne 6,0 (4,6), REP 0,0 (0,0), STATT Partei 1,3; gew. Karl - Heinz Funke (SPD) wie bisher. 99 Jever SPD 53,3 (53,1), CDU 32,8 (34,4), FDP 4,0 (5,8), Grüne 7,1 (5,5), REP 0,0 (0,0), STATT Partei 2,8; gew. Bernd Theilen (SPD) wie bisher. 100 Wilhelmshaven SPD 54,0 (51,9), CDU 26,5 (36,0), FDP 3,6 (4,9), Grüne 7,4 (7,2), REP 5,2 (0,0), STATT Partei 2,8; gew. Wilfried Adam (SPD) wie bisher.'

In [86]:
data[data.numeric == True]['texts'].iloc[1]

'Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Samstag / Sonntag, 16. / 17. April 1994 Seite 138 / Süddeutsche Zeitung Nr. 87 Seite 140 / Süddeutsche Zeitung Nr. 87 Seite 142 / Süddeutsche Zeitung Nr. 87 Seite 144 / Süddeutsche Zeitung Nr. 87 Seite 146 / Süddeutsche Zeitung Nr. 87 Seite 148 / Süddeutsche Zeitung Nr. 87 Seite 150 / Süddeutsche Zeitung Nr. 87 Seite 152 / Süddeutsche Zeitung Nr. 87 Seite 154 / Süddeutsche Zeitung Nr. 87 Seite 156 / Süddeutsche Zeitung Nr. 87 Seite 158 / Süddeutsche Zeitung Nr. 87 Seite 160 / Süddeutsche Zeitung Nr. 87 Süddeutsche Zeitung Nr. 87 / Seite 137 Süddeutsche Zeitung Nr. 87 / Seite 139 Süddeutsche Zeitung Nr. 87 / Seite 141 Süddeutsche Zeitung Nr. 87 / Seite 143 Süddeutsche Zeitung Nr. 87 / Seite 145 Süddeutsche Zeitung Nr. 87 / Seite 147 Süddeutsche Zeitung Nr. 87 / Seite 149 Süddeutsche Zeitung Nr. 87 / Seite 151 Süddeutsche Zeitung Nr. 87 / Seite 153 Süddeutsche Zeitung Nr. 87 / Seite 155 Süddeutsche Zeitung Nr. 87 / Seite 157 Süddeutsche Zeitung Nr. 87 / Seite 159'

In [87]:
len(data[data.numeric == True])

92

In [88]:
# drop articles predominantly consisting of numbers
data = data[data.numeric == False]
del data['numeric']
data.reset_index(inplace=True, drop=True)
# the number of articles after removing articles that predominantly consist of numbers
print(len(data))

551512

## Identify articles that predominantly consist of names

We eliminate texts with a name density of at least 15% (relative to the total word count, excluding numbers) as part of our pre-processing pipeline. This exclusion is important to guarantee that the remaining articles contain sufficient content for effective topic analysis, as the removal of common German names is a standard pre-processing step in LDA model estimation.

In [89]:
# Load the dictionary containing common German first and last names
with open("names.txt", "r", encoding="utf-8-sig") as f:
    names_list = f.read().splitlines()

In [90]:
inputs = zip(data['texts'], data['word_count'], itertools.repeat(names_list))

startTime = datetime.now()

if __name__ == "__main__":
    pool = mp.Pool(NUM_CORE)
    names_result = pool.starmap(count_names.count_names, inputs)
    pool.close()
    pool.join()

print(datetime.now()-startTime)

data['names'] = names_result

0:01:10.934713

In [91]:
# Example of an article with a high proportion of names
data[data.names>=0.15].iloc[0]['texts']

'Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich > Abraham B. Jehoschua Die Manis Roman Aus dem Hebräischen von Ruth Achlama C R. Piper GmbH & Co. KG München, Zürich >.'

In [92]:
# Exclude texts with a name density of at least 15%
data = data[data.names<0.15]
del data['names']
data.reset_index(inplace=True, drop=True)
# the number of articles after removing articles that predominantly consist of names
print(len(data))

551453

In [93]:
counter=collections.Counter(data['year'])
print(counter)

Counter({1999: 26729, 2000: 25808, 1994: 25640, 1995: 25603, 1996: 24676, 2001: 24626, 1997: 24553, 1998: 24504, 2008: 24146, 2010: 22744, 2009: 22521, 2011: 22491, 2005: 22395, 2006: 22082, 2007: 21959, 2004: 21823, 2003: 21781, 2012: 21047, 2002: 20760, 2013: 19232, 2014: 18188, 2016: 17866, 2017: 17497, 2015: 17421, 2018: 15361})

In [94]:
data.to_csv('sz_prepro_final.csv', encoding = 'utf-8-sig', sep = ';')